<a href="https://colab.research.google.com/github/Tyton25/tools/blob/main/Expenses_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
import pandas as pd
import numpy as np
import re

## Functions

In [143]:
def refactor_debit_cols(my_df):
  columns = list(my_df.columns)
  columns = [c.lower() for c in columns]
  columns = [c.replace(' ', '_') for c in columns]
  my_df.columns = columns
  my_df.drop(columns='status', inplace=True)
  debit_df["date"] = pd.to_datetime(debit_df["date"])

  return my_df

In [144]:
def clean_orig_desc_col(raw_df):
  phone_pattern = r'\d{3}-\d{3}-\d{4}'
  my_df = raw_df[["original_description", "amount"]]
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('*')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('#')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(phone_pattern, x)[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(r'dd ', x)[0])

  return my_df

In [145]:
def sum_orig_desc_col(raw_df):
  my_df = raw_df.groupby('original_description').agg('sum')
  my_df.sort_values(by=['original_description'], inplace=True)
  my_df.reset_index(inplace=True)

  return my_df

In [ ]:
def sum_category_col(raw_df):
  cat_df = debit_df[["category", "amount"]]
  cat_df = cat_df.groupby('category').agg("sum")
  cat_df.reset_index(inplace=True)

  return cat_df

In [ ]:
def sum_desc_col(raw_df):
  my_df = raw_df[["description", "amount"]]
  my_df = my_df.groupby('description').agg('sum')
  my_df.sort_values(by=['description'], inplace=True)
  my_df.reset_index(inplace=True)

  return my_df

In [146]:
debit_df = pd.read_csv("/content/debit_transactions_Jan-Aug_2023.csv")
debit_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66,Pending
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78,Pending
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10,Pending
...,...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99,Posted
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99,Posted
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97,Posted
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32,Posted
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05,Posted

In [147]:
debit_df = refactor_debit_cols(debit_df)
debit_df

,date,description,original_description,category,amount
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10
...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05

In [148]:
debit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631 entries, 0 to 630
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  631 non-null    datetime64[ns]
 1   description           631 non-null    object
 2   original_description  631 non-null    object
 3   category              631 non-null    object
 4   amount                631 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 24.8+ KB

In [80]:
debit_df["amount"].sum().round(2)

-6728.87

In [81]:
debit_df.category.unique()

array(['Category Pending', 'Fast Food', 'Utilities',
       'Electronics & Software', 'Service & Parts', 'Food & Dining',
       'Gas', 'Coffee Shops', 'Cash', 'Restaurants',
       'Newspapers & Magazines', 'Atm Fee', 'Interest Income',
       'Mortgage Payment', 'Hosting', 'Paycheck', 'Mobile Phone',
       'Movies & Dvds', 'Doctor', 'Music', 'Eyecare', 'Personal Care',
       'Auto & Transport', 'Television', 'Shopping', 'Entertainment',
       'Financial', 'Credit Card Payment', 'Sporting Goods',
       'Gifts & Donations', 'Health & Fitness', 'Education', 'Check',
       'Clothing', 'Business Services', 'Uncategorized', 'Bonus',
       'Home Improvement', 'Dentist', 'Transfer', 'Groceries', 'Books',
       'State Tax', 'Federal Tax', 'Laundry', 'Taxes', 'Parking', 'Gym'],
      dtype=object)

In [171]:
category_totals_df = sum_category_col(debit_df)
category_totals_df

                  category    amount
0                  Atm Fee     20.95
1         Auto & Transport   -289.32
2                    Bonus    998.70
3                    Books   -147.55
4        Business Services    -47.00
5                     Cash  -1230.95
6         Category Pending  -7226.75
7                    Check  -3382.13
8                 Clothing  -2559.32
9             Coffee Shops   -258.31
10     Credit Card Payment -51146.35
11                 Dentist   -164.50
12                  Doctor   -123.44
13               Education   -268.13
14  Electronics & Software   -338.38
15           Entertainment  -2964.84
16                 Eyecare  -1530.16
17               Fast Food  -1008.35
18             Federal Tax  -1605.00
19               Financial  -2852.63
20           Food & Dining  -1771.66
21                     Gas  -1368.58
22       Gifts & Donations  -1455.00
23               Groceries   -369.66
24                     Gym    -21.99
25        Health & Fitness   -406.51
26        Home Improvement    -94.10
27                 Hosting     -8.39
28         Interest Income      0.83
29                 Laundry     -6.00
30            Mobile Phone  -1120.64
31        Mortgage Payment  -6008.61
32           Movies & Dvds    -77.55
33                   Music    -54.00
34  Newspapers & Magazines    -39.00
35                 Parking     -8.00
36                Paycheck  77755.09
37           Personal Care   -165.54
38             Restaurants   -121.98
39         Service & Parts   -603.23
40                Shopping  -2834.08
41          Sporting Goods  -1984.32
42               State Tax  20563.00
43                   Taxes   -192.72
44              Television   -247.93
45                Transfer  -7300.63
46           Uncategorized    -99.00
47               Utilities  -2565.21

In [169]:
debit_description_totals_df = sum_desc_col(debit_df)
debit_description_totals_df

         description   amount
0           7-Eleven -1254.98
1     AAA Membership  -185.00
2       AMC Theatres   -39.39
3     ATM Fee Rebate    20.95
4              Adobe   -30.79
..               ...      ...
133             Xbox   -72.89
134      Xcel Energy -1723.69
135  YouTube Premium   -90.79
136       Zappos.com  -122.86
137             eBay  -171.85

[138 rows x 2 columns]

In [149]:
debit_orig_description_amounts_df = clean_orig_desc_col(debit_df)
debit_orig_description_amounts_df[:50]

<ipython-input-144-a64b9d33a88e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('*')[0])
<ipython-input-144-a64b9d33a88e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('#')[0])
<ipython-input-144-a64b9d33a88e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(phone_pattern, x)[0])
<ipython-input-144-a64b9d33a88e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(r'dd ', x)[0])

                        original_description   amount
0                         CARIBOU COFFEE CO     -4.66
1                              KRISPY KREME    -89.78
2                                    CMSVEND    -1.35
3                                    CMSVEND    -1.35
4    PBC- DENVER CO3834               081023    -2.10
5                   USAA CREDIT CARD PAYMENT -7127.51
6   CANTEEN VENDING          MALVERN      PA    -2.90
7               XCEL ENERGY-PSCO XCELENERGY   -263.83
8   charge.prezi.com         415-4948313  CA   -60.00
9   203 TAKE 5 CAR WASH      BROOMFIELD   CO   -39.99
10  CANTEEN VENDING          MALVERN      PA    -1.45
11  CANTEEN VENDING          MALVERN      PA    -1.45
12                 DD DOORDASH ARBYS           -32.46
13  7-ELEVEN 33481           GOLDEN       CO   -12.39
14                        CARIBOU COFFEE CO     -9.69
15  224PEPSIVEN9147678600    DENVER       CO    -2.10
16                                   CMSVEND    -1.35
17                                   CMSVEND    -1.35
18  BLUE FCU6850 W 119TH AVE BROOMFIELD   CO  -228.00
19  HOGBACK BBQ AND GRILL    LITTLETON    CO   -45.00
20                 CONSUMERREPORTS.ORG         -39.00
21  SEI 3813511275 MAIN ST   BROOMFIELD   CO   -35.39
22  224PEPSIVEN9147678600    DENVER       CO    -2.10
23  CANTEEN VENDING          MALVERN      PA    -1.45
24                                ATM REBATE     3.00
25  EUREST@LM DC             LITTLETON    CO    -3.25
26  224PEPSIVEN9147678600    DENVER       CO    -2.10
27                             INTEREST PAID     0.07
28              NSM DBAMR.COOPER NSM DBAMR   -2002.87
29                 DD DOORDASH NOODLESCO       -47.08
30  UNITED PAC12624 W INDORE LITTLETON    CO   -19.06
31  224PEPSIVEN9147678600    DENVER       CO    -2.10
32                                   CMSVEND    -1.35
33  Amazon web services      AWS.AMAZON.COWA    -1.05
34  EUREST@LM DC             LITTLETON    CO    -9.53
35  224PEPSIVEN9147678600    DENVER       CO    -2.10
36  CANTEEN VENDING          MALVERN      PA    -1.45
37                                   CMSVEND    -1.35
38              FOUR SEA GROUP I PAYROLL      4841.38
39  UNITED PAC12624 W INDORE LITTLETON    CO   -36.20
40  UNITED PAC12624 W INDORE LITTLETON    CO   -14.97
41  EUREST@LM DC             LITTLETON    CO   -11.27
42  224PEPSIVEN9147678600    DENVER       CO    -2.10
43                                   TMOBILE  -140.08
44  7-ELEVEN                 BROOMFIELD   CO   -10.65
45  EUREST@LM DC             LITTLETON    CO    -9.53
46  CANTEEN VENDING          MALVERN      PA    -1.45
47  AMC 0092 W.MINSTER PRO   WESTMINSTER  CO   -17.10
48  EUREST@LM DC             LITTLETON    CO    -9.53
49              LABCORP          LABCORP       -16.28

In [150]:
debit_orig_description_totals_df = sum_orig_desc_col(debit_orig_description_amounts_df)
debit_orig_description_totals_df[:50]

                        original_description    amount
0   203 TAKE 5 CAR WASH      BROOMFIELD   CO   -319.92
1   224PEPSIVEN9147678600    DENVER       CO   -101.25
2   7-ELEVEN                 BROOMFIELD   CO    -83.36
3   7-ELEVEN 33481           GOLDEN       CO    -12.39
4   7-ELEVEN7285 W 119TH PLACBROOMFIELD   CO    -74.25
5   7ELEVEN-FCTI11275 MAIN STBROOMFIELD   CO    -80.00
6   AAA ACG MBR 006/DUES-AR  3037538800   CO   -185.00
7                                    ADOBE      -20.80
8                  ADOBE                         -9.99
9                  AGJEANS.COM                 -411.84
10  AMC 0092 W.MINSTER PRO   WESTMINSTER  CO    -39.39
11  APPLE COMONE APPLE PARK WCUPERTINO    CA     -0.99
12                 APPLE.COM/BILL               -70.45
13                 APPLE.COM/US               -2270.28
14  ARBY'S 5009033           BROOMFIELD   CO    -10.91
15                                ATM REBATE     20.95
16  Amazon web services      AWS.AMAZON.COWA     -8.39
17                 B&N MEMBERSHIP RENEWAL       -25.00
18  BARNESNOBLE 9370 SheridanWESTMINISTER CO    -27.26
19  BARNESNOBLE9370 Sheridan WESTMINISTER CO    -53.70
20                 BIBLE GATEWAY                -41.59
21  BIG O TIRES 6292 6430 W 1BROOMFIELD   CO   -116.53
22              BK OF AMER VISA  ONLINE PMT    -316.92
23  BLUE FCU6850 W 119TH AVE BROOMFIELD   CO   -922.00
24                              BURGER KING     -12.50
25  BUTTERFLY PAVILION GIF625WESTMINSTER  CO    -79.43
26                 CALVARY CHAPEL OF CHIN      -500.00
27  CANTEEN VENDING          MALVERN      PA    -10.15
28                        CARIBOU COFFEE CO     -55.20
29                       CASH REWARDS CREDIT    998.70
30                                    CHECK   -3382.13
31                              CHICK-FIL-A     -98.24
32  CHIPOTLE 0071            LITTLETON    CO    -13.34
33                 CITY AND COUNTY OF BROOM     -33.00
34  CITY AND COUNTY OF BROOM BROOMFIELD   CO    -66.00
35                                   CMSVEND   -169.80
36              CO DEPT REVENUE  COSTTAXRFD   20563.00
37  COCA COLA DENVER CO      DENVER       CO     -1.85
38  COCA COLA JOHNSTOWN CO   JOHNSTOWN    CO    -12.60
39  COLORADO TINNITUS AND HEAENGLEWOOD    CO   -262.96
40  COMCAST CABLE COMM       800-COMCAST  CO   -841.52
41                 CONSUMERREPORTS.ORG          -39.00
42  CSC SERVICEWORK          BROOMFIELD   CO     -4.00
43  CSC SERVICEWORK          LITTLETON    CO     -2.00
44  CTM GROUP INC.           BROOMFIELD   CO    -10.00
45                 DD DOORDASH ARBYS            -52.44
46                 DD DOORDASH BASKIN-RO        -29.63
47                 DD DOORDASH COLDSTONE        -46.13
48                 DD DOORDASH COUNTRYTH        -29.50
49                 DD DOORDASH EASTMOONA        -74.53

In [151]:
debit_orig_description_totals_df[50:100]

                        original_description    amount
50                 DD DOORDASH GOODTIMES        -33.53
51                 DD DOORDASH IHOP            -226.18
52                 DD DOORDASH JASONSDEL       -145.54
53                 DD DOORDASH KNEADERSB        -66.01
54                 DD DOORDASH MIKASUSHI       -546.38
55                 DD DOORDASH NOODLESCO       -195.73
56                 DD DOORDASH OKINAWASU       -115.64
57                 DD DOORDASH PANDAEXPR        -60.66
58                 DD DOORDASH TCBY             -39.31
59  DICK'S CLOTHING&SPORTING BROOMFIELD   CO   -275.09
60  DOORDASH DASHPASS        WWW.DOORDASH.CA    -96.00
61  DollarShaveClubUS        800-3727797  CA   -165.54
62  E 470 EXPRESS TOLLS      303-5373470  CO    -75.60
63  EUREST@LM DC             LITTLETON    CO   -279.77
64  FANDANGO                 FANDANGO.COM CA    -38.16
65  FITNESS GALLERY          DENVER       CO    -94.90
66  FLEISCHMANN FAMILY DENTISBROOMFIELD   CO   -164.50
67  FOUNDATION HYUNDAI       DENVER       CO    -28.72
68              FOUR SEA GROUP I PAYROLL      77755.09
69  FRONT RANGE FAMILY EYE C GREENWOOD VILCO  -1530.16
70                                      GNC     -48.65
71  GOOD TIMES DR THRU 111   BROOMFIELD   CO    -17.68
72                                   GOOGLE     -90.79
73  HOGBACK BBQ AND GRILL    LITTLETON    CO    -45.00
74                                       IN     -60.00
75                             INTEREST PAID      0.83
76                                   INTUIT    -192.72
77              IRS              USATAXPYMT   -1605.00
78  JIFFY LUBE2125 E 120TH AVNORTHGLENN   CO   -166.78
79  KING SOOP 12167 SHERID   BROOMFIELD   CO   -127.19
80                             KING SOOPERS    -185.55
81                             KRISPY KREME    -177.61
82  KUM&GO 0316R ERIE        ERIE         CO    -15.55
83              LABCORP          LABCORP        -16.28
84  LAZ PARKING 760923       ENGLEWOOD    CO     -8.00
85  LITHIUM 517              ESTES PARK   CO    -76.14
86  LK3558612601 S. LEWIS WAYLAKEWOOD     CO   -102.95
87  LK426605110 WEST ELKHORN ESTES PARK   CO   -126.00
88  MICROSOFT YEARLY PLAN    888BESTBUY   MN    -72.89
89  MIDJOURNEY INC.          HTTPSWWW.MIDJCA    -30.00
90  MIKE'S CAMERA STORE-1    BOULDER      CO  -1899.44
91  MY PATRIOT SUPPLY        866-2290927  UT  -1141.45
92                                 Microsoft    -72.89
93  NETFLIX.COM              NETFLIX.COM  CA    -39.98
94                                NORDSTROM   -1670.16
95              NSM DBAMR.COOPER NSM DBAMR   -13309.24
96  Netflix                  1 8445052993 CA    -39.98
97  Netflix.com              866-5797172  CA    -59.97
98  Nintendo CA1004712338    800-2553700  WA    -59.53
99  Nintendo CA946648803     800-2553700  WA    -15.98

In [154]:
debit_orig_description_totals_df[100:]

                         original_description    amount
100  Nintendo CA948290101     800-2553700  WA     -9.19
101                            PANDA EXPRESS     -30.15
102  PANDA EXPRESS 544        WESTMINSTER  CO    -34.94
103                 PARCHMENT-UNIV DOCS          -37.95
104   PBC- DENVER CO3834               081023     -2.10
105  RISE TV                  HTTPSRISE.TV FL   -108.00
106                 ROAD RUNNER SPORTS           -49.99
107  ROKFIN                   512-3876531  TX   -104.93
108                                    S & S     -31.52
109  SEI 38135                BROOMFIELD   CO    -94.57
110  SEI 3813511275 MAIN ST   BROOMFIELD   CO   -897.53
111  SEI 41743                FORT LUPTON  CO    -12.88
112                 SERVICE PAYMENT PLAN        -447.15
113                           SONIC DRIVE IN    -110.37
114  SOUTH DENVER CARDIOLOGY  LITTLETON    CO   -107.16
115  SP BUTTER CLOTH          HTTPSBUTTERCLCA   -299.97
116  SP DAILY GRACE CO.       KRISTINSCHMUCMD    -47.00
117  SP GF STORE MERCH        HTTPSGENERALFFL    -54.49
118  SP JEREMYSRAZORS         HTTPSWWW.JERETN   -174.66
119  SP THE OFFICER TATUM     HTTPSTHEOFFICAZ    -41.99
120                 SPOTIFY                      -54.00
121                                       SQ      -4.33
122  STARBUCKS STORE 00252    GREENWOOD VILCO     -9.15
123  STARBUCKS STORE 06508    ESTES PARK   CO     -5.29
124  STARBUCKS STORE 13426    ERIE         CO     -6.29
125  STARBUCKS STORE 47645    BROOMFIELD   CO   -135.78
126  STARBUCKS STORE 54769    BROOMFIELD   CO    -51.26
127  Subway 32315             BROOMFIELD   CO    -34.12
128              Synchrony Bank   CC PYMT       -605.78
129  TARGET T-192810445 Reed SWESTMINSTER  CO   -228.08
130  THE FRIENDS OF ISRAEL    856-8535590  NJ   -200.00
131                           THE HOME DEPOT     -82.06
132  THE HOME DEPOT 1549      MORRISON     CO    -12.04
133                                   TMOBILE  -1120.64
134  TREK BICYCLE BROOMFIEL   BROOMFIELD   CO   -567.78
135  TROUT HAVEN POND         ESTES PARK   CO   -270.51
136                                       TST    -76.98
137  TURNING POINT WITH DAVID 877-9980222  CA   -200.00
138  The Ore Cart             ESTES PARK   CO    -60.38
139  UDEMY: ONLINE COURSES    HTTPSWWW.UDEMCA    -31.18
140  UNITED PAC12624 W INDORE LITTLETON    CO   -146.53
141                  USAA CREDIT CARD PAYMENT -57351.16
142              USAA P&C         AUTOPAY      -2405.48
143                 VASA FITNESS                 -21.99
144  VETS4CHILDRESCUE.ORG     WWW.VETS4CHILAZ   -500.00
145                                       VMO    -84.00
146                                       VUE   -199.00
147                             WHOLEFDS BDN     -56.92
148  WWW.GENESISCOUNCIL.COM   WWW.GENESISCONY    -55.00
149  Wal-Mart Super Center    BROOMFIELD   CO    -37.79
150              XCEL ENERGY-PSCO XCELENERGY   -1723.69
151                                       ZAP   -122.86
152  charge.prezi.com         415-4948313  CA    -60.00
153                                    eBay O   -171.85

## Credit Card Analysis

In [160]:
cc_df = pd.read_csv("/content/cc_transactions_Jan-Aug_2023.csv")
cc_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15,Pending
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14,Pending
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42,Pending
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51,Pending
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34,Pending
...,...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32,Posted
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00,Posted
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20,Posted
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40,Posted
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38,Posted

In [161]:
cc_df = refactor_debit_cols(cc_df)
cc_df

,date,description,original_description,category,amount
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34
...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38

In [162]:
cc_orig_desc_amounts_df = clean_orig_desc_col(cc_df)
cc_orig_desc_amounts_df[:50]

<ipython-input-144-a64b9d33a88e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('*')[0])
<ipython-input-144-a64b9d33a88e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('#')[0])
<ipython-input-144-a64b9d33a88e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(phone_pattern, x)[0])
<ipython-input-144-a64b9d33a88e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(r'dd ', x)[0])

                        original_description   amount
0                                 TARGET.COM   -97.15
1                              KING SOOPERS   -153.14
2                     WALMART.COM 8009666546  -245.42
3                   USAA CREDIT CARD PAYMENT  7127.51
4                     AMAZON.COM AMZN.COM/BI  -107.34
5   COBBLESTONE CAR WASH 72  602-7870808  CO   -37.00
6   PHILLIPS 66 - SEI 38135  BROOMFIELD   CO   -43.27
7                               AMZN Mktp US   -70.74
8   NINJA NATION CENTENNIAL  ENGLEWOOD    CO   -17.50
9                               AMZN Mktp US   -11.33
10                             KING SOOPERS   -290.64
11  Subway 23066             Broomfield   CO   -68.89
12                 PEDIATRIC SPEECH THERAPY    -20.00
13                 PEDIATRIC SPEECH THERAPY    -20.00
14  TACO BELL 033867         BROOMFIELD   CO   -47.25
15                 CITY AND COUNTY OF BROOM   -101.00
16  WALMART.COM 8009666546   BENTONVILLE  AR   -55.52
17                 ARVADA PEDIATRIC ASSOC     -100.00
18  WENDYS  8808             WESTMINSTER  CO    -8.33
19  DOLLAR TREE              WESTMINSTER  CO   -20.42
20                              TARGET.COM     -21.19
21  TARGET        00019281   BROOMFIELD   CO  -156.21
22                             KING SOOPERS      9.34
23                              AMZNFreeTime    -5.40
24                              TARGET.COM     -23.77
25                              CHICK-FIL-A    -36.32
26                             KING SOOPERS   -200.87
27  KING SOOPERS FUEL 686    BROOMFIELD   CO   -61.10
28                              TARGET.COM     -10.36
29                              TARGET.COM      -8.41
30                              TARGET.COM     -70.16
31                 WALMART.COM                 -22.09
32                              BANFIELD-PET   -89.85
33                 PEDIATRIC SPEECH THERAPY    -70.00
34                              TARGET.COM     -14.81
35  PRETTY NAILS INC         WESTMINSTER  CO   -23.00
36                              Prime Video     -5.40
37                              BURGER KING    -36.72
38                              TARGET.COM     -43.64
39                             WHOLEFDS BDN   -408.90
40  SUPERCUTS 81464          WESTMINSTER  CO   -47.50
41  SUPERCUTS 81464          WESTMINSTER  CO  -315.80
42  BANFIELD  5101           WESTMINSTER  CO  -135.90
43                              TARGET.COM     -35.93
44                 PIZZA HUT 004869            -75.01
45  TACO JOHNS 1031          FORT COLLINS CO   -20.50
46  ABLE KIDS FOUNDATION     9702262253   CO  -261.96
47  CONOCO - UNITED PACIFIC 6NORTHGLENN   CO   -34.99
48                                     SHIPT   -25.88
49                                     SHIPT  -135.41

In [163]:
cc_orig_description_totals_df = sum_orig_desc_col(cc_orig_desc_amounts_df)
cc_orig_description_totals_df[:50]

                        original_description   amount
0   1594 VILLA ITALIAN KIT   303-4691737  CO   -89.30
1   ABLE KIDS FOUNDATION     9702262253   CO  -261.96
2                             AFW - E-STORE   -988.45
3                                 AMAZON.COM  -307.34
4                     AMAZON.COM AMZN.COM/BI  -107.34
5   AMAZON.COM AMZN.COM/BILL AMZN.COM CREDIT   122.20
6   AMC 0092 W.MINSTER PRO   WESTMINSTER  CO   -32.35
7                  AMC ONLINE 9640             -32.19
8                               AMZN MKTP US  -206.11
9   AMZN MKTP US AMZN.COM/BIL AMZN.CO CREDIT    68.61
10                              AMZN Mktp US -1985.66
11  AMZN Mktp US Amzn.com/bill WA     CREDIT    43.00
12                              AMZNFreeTime   -27.00
13                 ARVADA PEDIATRIC ASSOC     -633.43
14                                    ATGPAY  -655.83
15                                Amazon.com  -332.23
16  BANFIELD  5101           WESTMINSTER  CO  -268.82
17                              BANFIELD-PET  -449.25
18                 BROOMFIELD UTILITY         -240.84
19  BUCKLES OF ESTES         ESTES PARK   CO  -114.05
20                              BURGER KING   -411.22
21  BUTTERFLY PAVILION ATMS  WESTMINSTER  CO   -28.30
22  BUTTERFLY PAVILION GIFT  WESTMINSTER  CO  -406.90
23  BUTTERFLY PAVILION ONLIN http://      CO  -307.50
24                             BUY BUY BABY   -545.71
25  Build-A-Bear - 1031      Broomfield   CO  -263.32
26  Build-A-Bear Workshop    GROVEPORT    OH   -15.50
27  Build-A-Bear Workshop    St Louis     MO  -274.19
28  CENTURA AUTOMATED PMT    CENTENNIAL   CO  -413.98
29                 CHCO ONLINE MYCHART PR     -101.07
30                              CHICK-FIL-A   -146.05
31                                       CHR  -148.35
32  CHUCK&DONS WESTMINISTER  WESTMINSTER  CO   -19.53
33                                 CIRCLE K    -67.41
34                 CITY AND COUNTY OF BROOM   -981.46
35  CITY AND COUNTY OF BROOM BROOMFIE CREDIT   105.00
36                 CITYANDCOUNTYOFB   MFIELD  -175.52
37                                   CMSVEND   -36.40
38  CO MOTOR VEHICLE SERVI   EGOV.COM     CO  -195.06
39  COBBLESTONE CAR WASH 72  602-7870808  CO  -185.00
40  CONOCO - UNITED PACIFIC 6NORTHGLENN   CO   -34.99
41  CU MEDICINE RS           AURORA       CO  -200.43
42  DOLLAR TREE              WESTMINSTER  CO   -20.42
43  Etsy.com - Multiple Shops718-8557955  NY   -45.65
44  FLEISCHMANN FAMILY DENTISBROOMFIELD   CO  -102.40
45  GOOD TIMES DR THRU 111   BROOMFIELD   CO  -303.13
46  GOOD TIMES DR THRU 127   WESTMINSTER  CO   -10.60
47                            GREASE MONKEY   -120.99
48  JIMMY JOHNS - 4040       ESTES PARK   CO   -37.44
49  JIMMY JOHNS 1697         BROOMFIELD   CO  -148.03

In [172]:
cc_cat_df = sum_category_col(cc_df)
cc_cat_df

                  category    amount
0                  Atm Fee     20.95
1         Auto & Transport   -289.32
2                    Bonus    998.70
3                    Books   -147.55
4        Business Services    -47.00
5                     Cash  -1230.95
6         Category Pending  -7226.75
7                    Check  -3382.13
8                 Clothing  -2559.32
9             Coffee Shops   -258.31
10     Credit Card Payment -51146.35
11                 Dentist   -164.50
12                  Doctor   -123.44
13               Education   -268.13
14  Electronics & Software   -338.38
15           Entertainment  -2964.84
16                 Eyecare  -1530.16
17               Fast Food  -1008.35
18             Federal Tax  -1605.00
19               Financial  -2852.63
20           Food & Dining  -1771.66
21                     Gas  -1368.58
22       Gifts & Donations  -1455.00
23               Groceries   -369.66
24                     Gym    -21.99
25        Health & Fitness   -406.51
26        Home Improvement    -94.10
27                 Hosting     -8.39
28         Interest Income      0.83
29                 Laundry     -6.00
30            Mobile Phone  -1120.64
31        Mortgage Payment  -6008.61
32           Movies & Dvds    -77.55
33                   Music    -54.00
34  Newspapers & Magazines    -39.00
35                 Parking     -8.00
36                Paycheck  77755.09
37           Personal Care   -165.54
38             Restaurants   -121.98
39         Service & Parts   -603.23
40                Shopping  -2834.08
41          Sporting Goods  -1984.32
42               State Tax  20563.00
43                   Taxes   -192.72
44              Television   -247.93
45                Transfer  -7300.63
46           Uncategorized    -99.00
47               Utilities  -2565.21

In [174]:
cc_desc_df = sum_desc_col(cc_df)
cc_desc_df[:50]

                            description   amount
0                AMAZON.COM AMZN.COM/BI  -107.34
1                          AMC Theatres   -64.54
2                  Able Kids Foundation  -261.96
3                           Afw E Store  -988.45
4                                Amazon -2597.53
5                          Amazon Kids+   -16.20
6                          Amznfreetime   -10.80
7                Arvada Pediatric Assoc  -633.43
8                  Atgpay Greenway Park  -655.83
9                              Banfield  -268.82
10                Banfield Pet Hospital  -449.25
11                   Broomfield Utility  -240.84
12                     Buckles of Estes  -114.05
13                         Build-A-Bear  -553.01
14                          Burger King  -411.22
15                     Butterfly Pavili   -28.30
16              Butterfly Pavilion Gift  -406.90
17             Butterfly Pavilion Onlin  -307.50
18                          CMS Vending   -36.40
19                    Centura Automated  -413.98
20                  Chco Online Mychart  -101.07
21                          Chick-fil-A  -146.05
22                        Christianbook  -148.35
23                             Circle K   -67.41
24             City and County of Broom  -876.46
25                     Cityandcountyofb  -175.52
26                 Cobblestone Car Wash  -185.00
27  Colorado Division of Motor Vehicles  -195.06
28                               Conoco   -34.99
29                          Cu Medicine  -200.43
30                          Dollar Tree   -20.42
31                                 Etsy   -45.65
32            Fleischmann Family Dentis  -102.40
33                      Good Times Thru  -313.73
34                        Grease Monkey  -120.99
35                              Hayleys   -85.15
36                         Jimmy John's  -244.70
37                   KING SOOPERS #5086  -153.14
38                         King Soopers -4366.34
39                              LabCorp   -17.64
40                           McDonald's   -13.08
41              Med Colorado Eye Center   -84.07
42             Med Nextcare Urgent Care  -240.00
43                             Michaels   -70.65
44                       Mocha Angelo's    -3.00
45                 Moosely Tees & Gifts  -197.74
46              Ninja Nation Centennial   -17.50
47             Only Natural Pet Boulder   -41.34
48                             Out Tees  -197.67
49                        Panda Express   -14.47

In [175]:
cc_desc_df[50:]

                 description    amount
50                Party City   -223.48
51  Pediatric Speech Therapy  -2358.00
52                  PetSmart   -515.05
53               Phillips 66   -327.23
54                 Pizza Hut   -510.81
55          Pretty Nails Inc    -78.00
56               Prime Video   -230.53
57            Raising Cane's   -125.22
58      Rocky Mountain Gifts    -54.31
59     Rocky Mountain Majest     -4.35
60                Scholastic   -101.27
61                Schoolcafe   -102.95
62                     Shipt   -290.77
63                Shutterfly   -131.66
64           Silver Moon Inn  -1180.84
65                  Skechers    -54.16
66                     Sonic    -29.12
67               Souldogresc   -450.00
68    Sprouts Farmers Market    -49.54
69               Stampin' Up   -131.47
70                 Starbucks    -32.10
71                    Subway   -156.19
72                 Supercuts   -363.30
73                TARGET.COM    -97.15
74                 Taco Bell   -312.20
75               Taco John's    -20.50
76                    Target  -6503.03
77      The Danish Cone Fact    -64.34
78         US Postal Service    -14.97
79  USAA CREDIT CARD PAYMENT   7127.51
80          USAA Credit Card  36818.76
81                  Uchealth   -611.76
82                       Ups     -7.99
83         Villa Italian Kit    -89.30
84    WALMART.COM 8009666546   -245.42
85                   Walmart  -3675.65
86                   Wendy's    -70.39
87              Westminister    -19.53
88               Whole Foods   -408.90
89              Wild Spirits    -63.54
90    Youngdentistryforchild   -707.20
91                buybuyBABY   -545.71