In [1]:
import pandas as pd
import numpy as np
import re

In [35]:
def refactor_debit_cols():
  columns = list(debit_df.columns)
  columns = [c.lower() for c in columns]
  columns = [c.replace(' ', '_') for c in columns]
  debit_df.columns = columns

In [ ]:
def clean_orig_desc_col():
  my_df = debit_df[["original_description", "amount"]]
  my_df.reset_index(inplace=True)
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('*')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('#')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(phone_pattern, x)[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(r'dd ', x.lower())[0])
  return my_df

In [36]:
global debit_df
debit_df = pd.read_csv("/content/debit_transactions_Jan-Aug_2023.csv")
debit_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66,Pending
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78,Pending
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10,Pending
...,...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99,Posted
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99,Posted
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97,Posted
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32,Posted
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05,Posted

In [37]:
refactor_debit_cols()
debit_df

,date,description,original_description,category,amount,status
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66,Pending
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78,Pending
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10,Pending
...,...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99,Posted
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99,Posted
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97,Posted
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32,Posted
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05,Posted

In [22]:
debit_df.drop(columns='status', inplace=True)
debit_df

,date,description,original_description,category,amount
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10
...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05

In [23]:
debit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631 entries, 0 to 630
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  631 non-null    object
 1   description           631 non-null    object
 2   original_description  631 non-null    object
 3   category              631 non-null    object
 4   amount                631 non-null    float64
dtypes: float64(1), object(4)
memory usage: 24.8+ KB

In [24]:
debit_df["date"] = pd.to_datetime(debit_df["date"])
debit_df["date"]

0     2023-08-10
1     2023-08-10
2     2023-08-10
3     2023-08-10
4     2023-08-10
         ...
626   2023-01-03
627   2023-01-03
628   2023-01-03
629   2023-01-03
630   2023-01-03
Name: date, Length: 631, dtype: datetime64[ns]

In [26]:
debit_df["amount"].sum().round(2)

-6728.87

In [27]:
debit_df.category.unique()

array(['Category Pending', 'Fast Food', 'Utilities',
       'Electronics & Software', 'Service & Parts', 'Food & Dining',
       'Gas', 'Coffee Shops', 'Cash', 'Restaurants',
       'Newspapers & Magazines', 'Atm Fee', 'Interest Income',
       'Mortgage Payment', 'Hosting', 'Paycheck', 'Mobile Phone',
       'Movies & Dvds', 'Doctor', 'Music', 'Eyecare', 'Personal Care',
       'Auto & Transport', 'Television', 'Shopping', 'Entertainment',
       'Financial', 'Credit Card Payment', 'Sporting Goods',
       'Gifts & Donations', 'Health & Fitness', 'Education', 'Check',
       'Clothing', 'Business Services', 'Uncategorized', 'Bonus',
       'Home Improvement', 'Dentist', 'Transfer', 'Groceries', 'Books',
       'State Tax', 'Federal Tax', 'Laundry', 'Taxes', 'Parking', 'Gym'],
      dtype=object)

In [28]:
debit_category_amounts_df = debit_df[["category", "amount"]]
debit_category_amounts_df

             category  amount
0    Category Pending   -4.66
1    Category Pending  -89.78
2    Category Pending   -1.35
3    Category Pending   -1.35
4    Category Pending   -2.10
..                ...     ...
626               Gym  -21.99
627     Entertainment  -14.99
628     Entertainment  -12.97
629               Gas   -7.32
630           Hosting   -1.05

[631 rows x 2 columns]

In [ ]:
from binascii import Incomplete
cztegory_totals_df = debit_category_amounts_df.groupby('category').agg("sum")
cztegory_totals_df.reset_index(inplace=True)
cztegory_totals_df

                  category    amount
0                  Atm Fee     20.95
1         Auto & Transport   -289.32
2                    Bonus    998.70
3                    Books   -147.55
4        Business Services    -47.00
5                     Cash  -1230.95
6         Category Pending  -7226.75
7                    Check  -3382.13
8                 Clothing  -2559.32
9             Coffee Shops   -258.31
10     Credit Card Payment -51146.35
11                 Dentist   -164.50
12                  Doctor   -123.44
13               Education   -268.13
14  Electronics & Software   -338.38
15           Entertainment  -2964.84
16                 Eyecare  -1530.16
17               Fast Food  -1008.35
18             Federal Tax  -1605.00
19               Financial  -2852.63
20           Food & Dining  -1771.66
21                     Gas  -1368.58
22       Gifts & Donations  -1455.00
23               Groceries   -369.66
24                     Gym    -21.99
25        Health & Fitness   -406.51
26        Home Improvement    -94.10
27                 Hosting     -8.39
28         Interest Income      0.83
29                 Laundry     -6.00
30            Mobile Phone  -1120.64
31        Mortgage Payment  -6008.61
32           Movies & Dvds    -77.55
33                   Music    -54.00
34  Newspapers & Magazines    -39.00
35                 Parking     -8.00
36                Paycheck  77755.09
37           Personal Care   -165.54
38             Restaurants   -121.98
39         Service & Parts   -603.23
40                Shopping  -2834.08
41          Sporting Goods  -1984.32
42               State Tax  20563.00
43                   Taxes   -192.72
44              Television   -247.93
45                Transfer  -7300.63
46           Uncategorized    -99.00
47               Utilities  -2565.21

In [ ]:
debit_description_amounts_df = debit_df[["description", "amount"]]
debit_description_amounts_df

                                 description  amount
0    CARIBOU COFFEE CO #1             081023   -4.66
1    KRISPY KREME #4110               081023  -89.78
2    CMSVEND*CV DENVER                081023   -1.35
3    CMSVEND*CV DENVER                081023   -1.35
4    PBC- DENVER CO3834               081023   -2.10
..                                       ...     ...
626                             Vasa Fitness  -21.99
627                                   Rokfin  -14.99
628                          YouTube Premium  -12.97
629                                 7-Eleven   -7.32
630                      Amazon Web Services   -1.05

[631 rows x 2 columns]

In [ ]:
description_totals_df = debit_description_amounts_df.groupby('description').agg('sum')
description_totals_df.reset_index(inplace=True)
description_totals_df

         description   amount
0           7-Eleven -1254.98
1     AAA Membership  -185.00
2       AMC Theatres   -39.39
3     ATM Fee Rebate    20.95
4              Adobe   -30.79
..               ...      ...
133             Xbox   -72.89
134      Xcel Energy -1723.69
135  YouTube Premium   -90.79
136       Zappos.com  -122.86
137             eBay  -171.85

[138 rows x 2 columns]

In [ ]:
description_totals_df.sort_values(by=['description'], inplace=True)
description_totals_df[:50]

                                description   amount
0                                  7-Eleven -1254.98
1                            AAA Membership  -185.00
2                              AMC Theatres   -39.39
3                            ATM Fee Rebate    20.95
4                                     Adobe   -30.79
5                               Agjeans.com  -411.84
6                       Amazon Web Services    -8.39
7                                     Apple -2341.72
8                                    Arby's   -10.91
9                       Arby's via DoorDash   -52.44
10              Bank of America Credit Card  -316.92
11                           Barnes & Noble   -80.96
12                Barnes & Noble Membership   -25.00
13              Baskin Robbins via DoorDash   -29.63
14                            Bible Gateway   -41.59
15                              Big O Tires  -116.53
16                     Blue FCU W 119th Ave  -922.00
17                              Burger King   -12.50
18             Butter Cloth Httpsbutterclca  -299.97
19                   Butterfly Pavilion Gif   -79.43
20  CARIBOU COFFEE CO #1             081023    -4.66
21                              CMS Vending  -167.10
22  CMSVEND*CV DENVER                081023    -2.70
23                        CSC Service Works    -6.00
24                   Calvary Chapel of Chin  -500.00
25                  Canteen Vending Machine   -10.15
26                           Caribou Coffee   -50.54
27                      Cash Rewards Credit   998.70
28                                   Center   -60.00
29                              Check #1520   -10.00
30                              Check #1523  -365.00
31                              Check #1524  -200.43
32                              Check #1525  -114.27
33                              Check #1526  -300.00
34                              Check #1527 -1361.11
35                              Check #1528  -580.00
36                              Check #1529  -451.32
37                              Chick-fil-A   -98.24
38                          Childrescue.org  -500.00
39                                 Chipotle   -13.34
40                 City and County of Broom   -99.00
41                                Coca Cola   -14.45
42         Cold Stone Creamery via DoorDash   -46.13
43                        Colorado Tinnitus  -262.96
44                                  Comcast  -841.52
45                         Consumer Reports   -39.00
46           Daily Grace Co Kristinschmucmd   -47.00
47                             Dbamr Cooper -7300.63
48                    Dick's Sporting Goods  -275.09
49                        Dollar Shave Club  -165.54

In [ ]:
description_totals_df[50:100]

                                description    amount
50                                 DoorDash   -895.58
51                            Eurest Dining   -279.77
52                              ExpressToll    -75.60
53                                 Fandango    -38.16
54                          Fitness Gallery    -94.90
55                       Fleischmann Family   -164.50
56                       Foundation Hyundai    -28.72
57                 Four Sea Group I Payroll  77755.09
58   Front Range Family Eye Greenwood Vilco  -1530.16
59                                      GNC    -48.65
60                       Genesiscouncil.com    -55.00
61                          Good Times Thru    -17.68
62                          Gque Broomfield    -72.90
63                                Group Inc    -10.00
64                    Hogback Bbq and Grill    -45.00
65                        IHOP via DoorDash   -226.18
66                          IRS Tax Payment  -1605.00
67                            Interest Paid      0.83
68                Jason's Deli via DoorDash   -145.54
69                     Jeremysrazors Jeretn   -174.66
70                               Jiffy Lube   -166.78
71  KRISPY KREME #4110               081023    -89.78
72                             King Soopers   -312.74
73      Kneaders Bakery & Cafe via DoorDash    -66.01
74                             Krispy Kreme    -87.83
75                                 Kum & Go    -15.55
76                              LAZ Parking     -8.00
77                                  LabCorp    -16.28
78                                    Lewis   -102.95
79                                  Lithium    -76.14
80                    Microsoft Yearly Plan    -72.89
81                    Midjourney Inc Midjca    -30.00
82                      Mike's Camera Store  -1899.44
83                               Mr. Cooper  -6008.61
84                        My Patriot Supply  -1141.45
85                                  Netflix   -139.93
86                                 Nintendo    -84.70
87                               Nitro Mall     -4.33
88           Noodles & Company via DoorDash   -195.73
89                                Nordstrom  -1670.16
90  PBC- DENVER CO3834               081023     -2.10
91                            Panda Express    -65.09
92               Panda Express via DoorDash    -60.66
93                                Parchment    -37.95
94                                  PepsiCo   -101.25
95                                    Prezi    -60.00
96                           Rise Httpsrise   -108.00
97                       Road Runner Sports    -49.99
98                                   Rokfin   -104.93
99                                 S & West    -31.52

In [ ]:
description_totals_df[100:]

                              description    amount
100                  Service Payment Plan   -447.15
101                                 Sonic   -110.37
102               South Denver Cardiology   -107.16
103                               Spotify    -54.00
104                             Starbucks   -207.77
105                     State of Colorado  20563.00
106           Store Merch Httpsgeneralffl    -54.49
107                                Subway    -34.12
108                 Synchrony Credit Card   -605.78
109                              T-Mobile  -1120.64
110                     TCBY via DoorDash    -39.31
111                         Take Car Wash   -319.92
112                                Target   -228.08
113                      The French Press     -4.08
114                 The Friends of Israel   -200.00
115                        The Home Depot    -94.10
116     The Officer Tatum Httpstheofficaz    -41.99
117                          The Ore Cart    -60.38
118                          Trek Bicycle   -567.78
119                      Trout Haven Pond   -270.51
120                              TurboTax   -192.72
121              Turning Point With David   -200.00
122              USAA CREDIT CARD PAYMENT  -7127.51
123                      USAA Credit Card -50223.65
124  USAA Property and Casualty Insurance  -2405.48
125                             Udemy.com    -31.18
126                   United Pac W Indore   -146.53
127                          Vasa Fitness    -21.99
128                                 Vimeo    -84.00
129                 Vue Comptia Mrketplce   -199.00
130                               Walmart    -37.79
131                          West Elkhorn   -126.00
132                           Whole Foods    -56.92
133                                  Xbox    -72.89
134                           Xcel Energy  -1723.69
135                       YouTube Premium    -90.79
136                            Zappos.com   -122.86
137                                  eBay   -171.85

In [14]:
phone_pattern = r'\d{3}-\d{3}-\d{4}'
my_str = 'my phone numer is 123-456-7899 dude'
re.split(phone_pattern, my_str)[0]

'my phone numer is '

In [30]:
debit_orig_description_amounts_df = clean_orig_desc_col()
debit_orig_description_amounts_df

<ipython-input-29-02c682a2c8de>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('*')[0])
<ipython-input-29-02c682a2c8de>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('#')[0])
<ipython-input-29-02c682a2c8de>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(phone_pattern, x)[0])
<ipython-input-29-02c682a2c8de>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(r'dd ', x.lower())[0])

     index                      original_description  amount
0        0                        caribou coffee co    -4.66
1        1                             krispy kreme   -89.78
2        2                                   cmsvend   -1.35
3        3                                   cmsvend   -1.35
4        4   pbc- denver co3834               081023   -2.10
..     ...                                       ...     ...
626    626                 vasa fitness               -21.99
627    627  rokfin                   512-3876531  tx  -14.99
628    628                                   google   -12.97
629    629  sei 38135                broomfield   co   -7.32
630    630  amazon web services      aws.amazon.cowa   -1.05

[631 rows x 3 columns]

In [31]:
debit_orig_description_totals_df = debit_orig_description_amounts_df.groupby('original_description').agg('sum')
debit_orig_description_totals_df.sort_values(by=['original_description'], inplace=True)
debit_orig_description_totals_df.reset_index(inplace=True)
debit_orig_description_totals_df[:50]

                        original_description  index    amount
0                                              9404  -1661.21
1   203 take 5 car wash      broomfield   co   2647   -319.92
2   224pepsiven9147678600    denver       co  12872   -101.25
3   7-eleven                 broomfield   co   1994    -83.36
4   7-eleven 33481           golden       co     13    -12.39
5   7-eleven7285 w 119th placbroomfield   co   1002    -74.25
6   7eleven-fcti11275 main stbroomfield   co    559    -80.00
7   aaa acg mbr 006/dues-ar  3037538800   co     75   -185.00
8                                    adobe      208    -20.80
9                  adobe                        260     -9.99
10                 agjeans.com                  673   -411.84
11  amazon web services      aws.amazon.cowa   2850     -8.39
12  amc 0092 w.minster pro   westminster  co    288    -39.39
13  apple comone apple park wcupertino    ca     79     -0.99
14                 apple.com/bill              6697    -70.45
15                 apple.com/us                 425  -2270.28
16  arby's 5009033           broomfield   co    182    -10.91
17                                atm rebate   1168     20.95
18                 b&n membership renewal       506    -25.00
19  barnesnoble 9370 sheridanwestminister co    326    -27.26
20  barnesnoble9370 sheridan westminister co    622    -53.70
21                 bible gateway                623    -41.59
22  big o tires 6292 6430 w 1broomfield   co    474   -116.53
23              bk of amer visa  online pmt     798   -316.92
24  blue fcu6850 w 119th ave broomfield   co    604   -922.00
25                              burger king     340    -12.50
26  butterfly pavilion gif625westminster  co    580    -79.43
27                 calvary chapel of chin       360   -500.00
28  canteen vending          malvern      pa    132    -10.15
29                        caribou coffee co    1851    -55.20
30                       cash rewards credit    288    998.70
31  charge.prezi.com         415-4948313  ca      8    -60.00
32                                    check    3199  -3382.13
33                              chick-fil-a    1533    -98.24
34  chipotle 0071            littleton    co    154    -13.34
35                 city and county of broom     272    -33.00
36  city and county of broom broomfield   co    470    -66.00
37                                   cmsvend  32345   -169.80
38              co dept revenue  costtaxrfd     450  20563.00
39  coca cola denver co      denver       co    190     -1.85
40  coca cola johnstown co   johnstown    co   2835    -12.60
41  colorado tinnitus and heaenglewood    co    466   -262.96
42  comcast cable comm       800-comcast  co   2370   -841.52
43                 consumerreports.org           20    -39.00
44  csc servicework          broomfield   co   1096     -4.00
45  csc servicework          littleton    co    490     -2.00
46  ctm group inc.           broomfield   co    580    -10.00
47  dick's clothing&sporting broomfield   co    550   -275.09
48  dollarshaveclubus        800-3727797  ca   1363   -165.54
49  doordash dashpass        www.doordash.ca    579    -96.00

In [32]:
debit_orig_description_totals_df[50:100]

                        original_description  index    amount
50  e 470 express tolls      303-5373470  co   1153    -75.60
51                                    ebay o    212   -171.85
52  eurest@lm dc             littleton    co  12415   -279.77
53  fandango                 fandango.com ca    362    -38.16
54  fitness gallery          denver       co    310    -94.90
55  fleischmann family dentisbroomfield   co    318   -164.50
56  foundation hyundai       denver       co    477    -28.72
57              four sea group i payroll       5590  77755.09
58  front range family eye c greenwood vilco    133  -1530.16
59                                      gnc     354    -48.65
60  good times dr thru 111   broomfield   co    113    -17.68
61                                   google    2787    -90.79
62  hogback bbq and grill    littleton    co     19    -45.00
63                                       in     584    -60.00
64                             interest paid   2789      0.83
65                                   intuit     514   -192.72
66              irs              usataxpymt     451  -1605.00
67  jiffy lube2125 e 120th avnorthglenn   co     51   -166.78
68  king soop 12167 sherid   broomfield   co   1088   -127.19
69                             king soopers    1706   -185.55
70                             krispy kreme     873   -177.61
71  kum&go 0316r erie        erie         co    140    -15.55
72              labcorp          labcorp         49    -16.28
73  laz parking 760923       englewood    co    551     -8.00
74  lithium 517              estes park   co    215    -76.14
75  lk3558612601 s. lewis waylakewood     co     81   -102.95
76  lk426605110 west elkhorn estes park   co    445   -126.00
77                                 microsoft    599    -72.89
78  microsoft yearly plan    888bestbuy   mn    612    -72.89
79  midjourney inc.          httpswww.midjca    362    -30.00
80  mike's camera store-1    boulder      co    499  -1899.44
81  my patriot supply        866-2290927  ut    196  -1141.45
82  netflix                  1 8445052993 ca    247    -39.98
83  netflix.com              866-5797172  ca   1183    -59.97
84  netflix.com              netflix.com  ca   1057    -39.98
85  nintendo ca1004712338    800-2553700  wa    159    -59.53
86  nintendo ca946648803     800-2553700  wa    453    -15.98
87  nintendo ca948290101     800-2553700  wa    449     -9.19
88                                nordstrom    1432  -1670.16
89              nsm dbamr.cooper nsm dbamr     2748 -13309.24
90                            panda express     281    -30.15
91  panda express 544        westminster  co    313    -34.94
92                 parchment-univ docs         2270    -37.95
93   pbc- denver co3834               081023      4     -2.10
94  rise tv                  httpsrise.tv fl    405   -108.00
95                 road runner sports           572    -49.99
96  rokfin                   512-3876531  tx   2800   -104.93
97                                    s & s     437    -31.52
98  sei 38135                broomfield   co   4479    -94.57
99  sei 3813511275 main st   broomfield   co   7701   -897.53

In [33]:
debit_orig_description_totals_df[100:]

                         original_description  index    amount
100  sei 41743                fort lupton  co    145    -12.88
101                 service payment plan        1667   -447.15
102                           sonic drive in    2815   -110.37
103  south denver cardiology  littleton    co    307   -107.16
104  sp butter cloth          httpsbutterclca    781   -299.97
105  sp daily grace co.       kristinschmucmd    258    -47.00
106  sp gf store merch        httpsgeneralffl    611    -54.49
107  sp jeremysrazors         httpswww.jeretn   1113   -174.66
108  sp the officer tatum     httpstheofficaz     97    -41.99
109                 spotify                     1260    -54.00
110                                       sq      77     -4.33
111  starbucks store 00252    greenwood vilco     70     -9.15
112  starbucks store 06508    estes park   co    219     -5.29
113  starbucks store 13426    erie         co    195     -6.29
114  starbucks store 47645    broomfield   co   3180   -135.78
115  starbucks store 54769    broomfield   co   3823    -51.26
116  subway 32315             broomfield   co    408    -34.12
117              synchrony bank   cc pymt        275   -605.78
118  target t-192810445 reed swestminster  co   1887   -228.08
119  the friends of israel    856-8535590  nj    158   -200.00
120                           the home depot     311    -82.06
121  the home depot 1549      morrison     co    436    -12.04
122  the ore cart             estes park   co    216    -60.38
123                                   tmobile   2875  -1120.64
124  trek bicycle broomfiel   broomfield   co     94   -567.78
125  trout haven pond         estes park   co    647   -270.51
126                                       tst   1342    -76.98
127  turning point with david 877-9980222  ca    309   -200.00
128  udemy: online courses    httpswww.udemca    502    -31.18
129  united pac12624 w indore littleton    co    575   -146.53
130                  usaa credit card payment   3013 -57351.16
131              usaa p&c         autopay       2526  -2405.48
132                 vasa fitness                 626    -21.99
133  vets4childrescue.org     www.vets4chilaz    323   -500.00
134                                       vmo    527    -84.00
135                                       vue    375   -199.00
136  wal-mart super center    broomfield   co    355    -37.79
137                             wholefds bdn     376    -56.92
138  www.genesiscouncil.com   www.genesiscony    217    -55.00
139              xcel energy-psco xcelenergy    2611  -1723.69
140                                       zap    255   -122.86

## Credit Card Analysis

In [34]:
cc_df = pd.read_csv("/content/cc_transactions_Jan-Aug_2023.csv")
cc_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15,Pending
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14,Pending
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42,Pending
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51,Pending
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34,Pending
...,...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32,Posted
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00,Posted
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20,Posted
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40,Posted
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38,Posted