<a href="https://colab.research.google.com/github/Tyton25/tools/blob/main/Expenses_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1065]:
import pandas as pd
import numpy as np
import re
import csv
from collections import OrderedDict

## Variable Declaration

In [1123]:
my_str = 'this 7-eleven is my string'
patt1 = '7.+eleven'
re.search(patt1, my_str).group(0)

'7-eleven'

In [1108]:
phone_pattern = r'\d{3}-\d{3}-\d{4}'
url_patt = r'.*\.com'
seven11_patt = r'7.*eleven'
target_patt = r'target'
taco_bell_patt = r'taco\sbell'

In [1067]:
pattern_list = []
with open("/content/bank_regexes.csv", 'r') as f:
  csv_reader = csv.reader(f)
  for line in csv_reader:
    pattern_list.append(f"r'{line[0]}'")

  for patt in pattern_list:
    print(patt)

r'ï»¿split'
r'\d{3}-\d{3}-\d{4}'
r'.*\.com'
r'\*+'
r'\#+'

## Functions

In [1068]:
def refactor_cols(my_df):
  columns = list(my_df.columns)
  columns = [c.lower() for c in columns]
  columns = [c.replace(' ', '_') for c in columns]
  my_df.columns = columns
  my_df.drop(columns='status', inplace=True)
  debit_df["date"] = pd.to_datetime(debit_df["date"])

  return my_df

In [1069]:
split_patterns = []
search_patterns = []

patterns_df = pd.read_csv("/content/bank_regexes.csv")
patterns_dict = patterns_df.to_dict()

for i in patterns_dict['split']:
  split_patterns.append(f"r'({patterns_dict['split'][i]})'")

for i in patterns_dict['search']:
  search_patterns.append(f"r'({patterns_dict['search'][i]})'")

In [1070]:
def sum_col(raw_df, my_col):
  drop_cols = [c for c in raw_df.columns if c not in ['amount', my_col]]

  my_df = raw_df.copy(deep=True)
  my_df.drop(columns=drop_cols, inplace=True)

  my_df[my_col] = my_df[my_col].apply(lambda x: x.lower())

  for patt in split_patterns:
    my_df[my_col] = my_df[my_col].apply(lambda x: re.split(patt, x)[0])

  for patt in search_patterns:
    my_df[my_col] = my_df[my_col].apply(lambda x: re.search(patt, x).group(0) if re.search(patt, x) else x)

  my_df = my_df.groupby(my_col).agg('sum')
  my_df.sort_values(by=[my_col], inplace=True)
  my_df.reset_index(inplace=True)

  return my_df

In [1071]:
def orig_sum_orig_desc_col(raw_df):
  phone_pattern = r'\d{3}-\d{3}-\d{4}'
  url_patt = r'.*\.com'
  seven11_patt = r'7.*eleven'
  target_patt = r'target'
  taco_bell_patt = r'taco bell'

  my_df = raw_df.drop(columns=['date', 'description','category'])
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.lower())
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('*')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('#')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(phone_pattern, x)[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(url_patt, x)[0])
  my_df['original_description'] = my_df['original_description'].apply(lambda x: re.search(seven11_patt, x).group(0) if re.search(seven11_patt, x) else x)
  my_df['original_description'] = my_df['original_description'].apply(lambda x: re.search(r'doordash', x).group(0) if re.search(r'doordash', x) else x)
  my_df = my_df.groupby('original_description').agg('sum')
  my_df.sort_values(by=['original_description'], inplace=True)
  my_df.reset_index(inplace=True)

  return my_df

In [1072]:
def sum_cat_col(raw_df):
  cat_df = raw_df.drop(columns=['date', 'original_description','description'])
  cat_df['category'] = cat_df['category'].map(lambda x: x.lower())
  cat_df = cat_df.groupby('category').agg("sum")
  cat_df.reset_index(inplace=True)

  return cat_df

In [1073]:
def sum_desc_col(raw_df):
  url_patt = r'.*\.com'
  desc_df = raw_df.drop(columns=["date", "original_description", "category"])
  desc_df['description'] = desc_df['description'].map(lambda x: x.lower())
  desc_df['description'] = desc_df['description'].map(lambda x: re.split(url_patt, x)[0])
  desc_df = desc_df.groupby('description').agg('sum')
  desc_df.sort_values(by=['description'], inplace=True)
  desc_df.reset_index(inplace=True)

  return desc_df

## Debit Card Analysis

In [1074]:
debit_df = pd.read_csv("/content/debit_transactions_Jan-Aug_2023.csv")
debit_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66,Pending
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78,Pending
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10,Pending
...,...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99,Posted
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99,Posted
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97,Posted
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32,Posted
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05,Posted

In [1075]:
debit_df = refactor_cols(debit_df)
debit_df

,date,description,original_description,category,amount
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10
...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05

In [1076]:
debit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631 entries, 0 to 630
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  631 non-null    datetime64[ns]
 1   description           631 non-null    object
 2   original_description  631 non-null    object
 3   category              631 non-null    object
 4   amount                631 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 24.8+ KB

In [1077]:
debit_df["amount"].sum().round(2)

-6728.87

In [1078]:
debit_df.category.unique()

array(['Category Pending', 'Fast Food', 'Utilities',
       'Electronics & Software', 'Service & Parts', 'Food & Dining',
       'Gas', 'Coffee Shops', 'Cash', 'Restaurants',
       'Newspapers & Magazines', 'Atm Fee', 'Interest Income',
       'Mortgage Payment', 'Hosting', 'Paycheck', 'Mobile Phone',
       'Movies & Dvds', 'Doctor', 'Music', 'Eyecare', 'Personal Care',
       'Auto & Transport', 'Television', 'Shopping', 'Entertainment',
       'Financial', 'Credit Card Payment', 'Sporting Goods',
       'Gifts & Donations', 'Health & Fitness', 'Education', 'Check',
       'Clothing', 'Business Services', 'Uncategorized', 'Bonus',
       'Home Improvement', 'Dentist', 'Transfer', 'Groceries', 'Books',
       'State Tax', 'Federal Tax', 'Laundry', 'Taxes', 'Parking', 'Gym'],
      dtype=object)

In [1079]:
category_totals_df = sum_col(debit_df, 'category')
category_totals_df

                  category    amount
0                  atm fee     20.95
1         auto & transport   -289.32
2                    bonus    998.70
3                    books   -147.55
4        business services    -47.00
5                     cash  -1230.95
6         category pending  -7226.75
7                    check  -3382.13
8                 clothing  -2559.32
9             coffee shops   -258.31
10     credit card payment -51146.35
11                 dentist   -164.50
12                  doctor   -123.44
13               education   -268.13
14  electronics & software   -338.38
15           entertainment  -2964.84
16                 eyecare  -1530.16
17               fast food  -1008.35
18             federal tax  -1605.00
19               financial  -2852.63
20           food & dining  -1771.66
21                     gas  -1368.58
22       gifts & donations  -1455.00
23               groceries   -369.66
24                     gym    -21.99
25        health & fitness   -406.51
26        home improvement    -94.10
27                 hosting     -8.39
28         interest income      0.83
29                 laundry     -6.00
30            mobile phone  -1120.64
31        mortgage payment  -6008.61
32           movies & dvds    -77.55
33                   music    -54.00
34  newspapers & magazines    -39.00
35                 parking     -8.00
36                paycheck  77755.09
37           personal care   -165.54
38             restaurants   -121.98
39         service & parts   -603.23
40                shopping  -2834.08
41          sporting goods  -1984.32
42               state tax  20563.00
43                   taxes   -192.72
44              television   -247.93
45                transfer  -7300.63
46           uncategorized    -99.00
47               utilities  -2565.21

In [1080]:
debit_desc_totals_df = sum_col(debit_df, 'description')
debit_desc_totals_df[:50]

                                description   amount
0                                  7-eleven -1254.98
1                            aaa membership  -185.00
2                                     adobe   -30.79
3                               agjeans.com  -411.84
4                       amazon web services    -8.39
5                              amc theatres   -39.39
6                                     apple -2341.72
7                                    arby's   -10.91
8                       arby's via doordash   -52.44
9                            atm fee rebate    20.95
10              bank of america credit card  -316.92
11                           barnes & noble   -80.96
12                barnes & noble membership   -25.00
13              baskin robbins via doordash   -29.63
14                            bible gateway   -41.59
15                              big o tires  -116.53
16                     blue fcu w 119th ave  -922.00
17                              burger king   -12.50
18             butter cloth httpsbutterclca  -299.97
19                   butterfly pavilion gif   -79.43
20                   calvary chapel of chin  -500.00
21                  canteen vending machine   -10.15
22                           caribou coffee   -50.54
23  caribou coffee co #1             081023    -4.66
24                      cash rewards credit   998.70
25                                   center   -60.00
26                              check #1520   -10.00
27                              check #1523  -365.00
28                              check #1524  -200.43
29                              check #1525  -114.27
30                              check #1526  -300.00
31                              check #1527 -1361.11
32                              check #1528  -580.00
33                              check #1529  -451.32
34                              chick-fil-a   -98.24
35                          childrescue.org  -500.00
36                                 chipotle   -13.34
37                 city and county of broom   -99.00
38                              cms vending  -167.10
39  cmsvend*cv denver                081023    -2.70
40                                coca cola   -14.45
41         cold stone creamery via doordash   -46.13
42                        colorado tinnitus  -262.96
43                                  comcast  -841.52
44                         consumer reports   -39.00
45                        csc service works    -6.00
46           daily grace co kristinschmucmd   -47.00
47                             dbamr cooper -7300.63
48                    dick's sporting goods  -275.09
49                        dollar shave club  -165.54

In [1081]:
debit_desc_totals_df[50:100]

                                description    amount
50                                 doordash   -895.58
51                                     ebay   -171.85
52                            eurest dining   -279.77
53                              expresstoll    -75.60
54                                 fandango    -38.16
55                          fitness gallery    -94.90
56                       fleischmann family   -164.50
57                       foundation hyundai    -28.72
58                 four sea group i payroll  77755.09
59   front range family eye greenwood vilco  -1530.16
60                       genesiscouncil.com    -55.00
61                                      gnc    -48.65
62                          good times thru    -17.68
63                          gque broomfield    -72.90
64                                group inc    -10.00
65                    hogback bbq and grill    -45.00
66                        ihop via doordash   -226.18
67                            interest paid      0.83
68                          irs tax payment  -1605.00
69                jason's deli via doordash   -145.54
70                     jeremysrazors jeretn   -174.66
71                               jiffy lube   -166.78
72                             king soopers   -312.74
73      kneaders bakery & cafe via doordash    -66.01
74                             krispy kreme    -87.83
75  krispy kreme #4110               081023    -89.78
76                                 kum & go    -15.55
77                                  labcorp    -16.28
78                              laz parking     -8.00
79                                    lewis   -102.95
80                                  lithium    -76.14
81                    microsoft yearly plan    -72.89
82                    midjourney inc midjca    -30.00
83                      mike's camera store  -1899.44
84                               mr. cooper  -6008.61
85                        my patriot supply  -1141.45
86                                  netflix   -139.93
87                                 nintendo    -84.70
88                               nitro mall     -4.33
89           noodles & company via doordash   -195.73
90                                nordstrom  -1670.16
91                            panda express    -65.09
92               panda express via doordash    -60.66
93                                parchment    -37.95
94  pbc- denver co3834               081023     -2.10
95                                  pepsico   -101.25
96                                    prezi    -60.00
97                           rise httpsrise   -108.00
98                       road runner sports    -49.99
99                                   rokfin   -104.93

In [1082]:
debit_orig_desc_df = sum_col(debit_df, 'original_description')
debit_orig_desc_df[:50]

                           original_description   amount
0      203 take 5 car wash      broomfield   co  -319.92
1      224pepsiven9147678600    denver       co  -101.25
2      7-eleven                 broomfield   co   -83.36
3      7-eleven 33481           golden       co   -12.39
4      7-eleven7285 w 119th placbroomfield   co   -74.25
5      7eleven-fcti11275 main stbroomfield   co   -80.00
6      aaa acg mbr 006/dues-ar  3037538800   co  -185.00
7      adobe                    408-536-6000 ca    -9.99
8      adobe  *photogphy plan   408-536-6000 ca   -20.80
9      agjeans.com              323-357-1111 ca  -411.84
10     amazon web services      aws.amazon.cowa    -8.39
11     amc 0092 w.minster pro   westminster  co   -39.39
12     apple comone apple park wcupertino    ca    -0.99
13     apple.com/bill           408-974-1010 ca    -0.75
14     apple.com/bill           800-275-2273 ca    -4.20
15     apple.com/bill           866-712-7753 ca   -65.50
16     apple.com/us             800-676-2775 ca -2270.28
17     arby's 5009033           broomfield   co   -10.91
18                                   atm rebate    20.95
19     b&n membership renewal   866-238-7323 ny   -25.00
20     barnesnoble 9370 sheridanwestminister co   -27.26
21     barnesnoble9370 sheridan westminister co   -53.70
22     bible gateway            616-698-3443 tn   -41.59
23     big o tires 6292 6430 w 1broomfield   co  -116.53
24  bk of amer visa  online pmt ***********7pos  -316.92
25     blue fcu6850 w 119th ave broomfield   co  -922.00
26     burger king #5256        broomfield   co   -12.50
27     butterfly pavilion gif625westminster  co   -79.43
28     calvary chapel of chin   909-393-7100 ca  -500.00
29     canteen vending          malvern      pa   -10.15
30      caribou coffee co #1             081023    -4.66
31     caribou coffee co #1202  westminster  co   -21.94
32     caribou coffee co #1263  westminster  co   -28.60
33                          cash rewards credit   998.70
34     charge.prezi.com         415-4948313  ca   -60.00
35                           check # 0000001520   -10.00
36                           check # 0000001523  -365.00
37                           check # 0000001524  -200.43
38                           check # 0000001525  -114.27
39                           check # 0000001526  -300.00
40                           check # 0000001527 -1361.11
41                           check # 0000001528  -580.00
42                           check # 0000001529  -451.32
43     chick-fil-a #02721       arvada       co   -37.72
44     chick-fil-a #04042       broomfield   co   -35.99
45     chick-fil-a #834         denver       co   -24.53
46     chipotle 0071            littleton    co   -13.34
47     city and county of broom 303-460-6900 co   -33.00
48     city and county of broom broomfield   co   -66.00
49      cmsvend*cv denver                081023    -2.70

In [1083]:
debit_orig_desc_df[100:]

                            original_description   amount
100     front range family eye c greenwood vilco -1530.16
101     gnc #65774800 w 121st avebroomfield   co   -48.65
102     good times dr thru 111   broomfield   co   -17.68
103     google *youtubepremium   g.co/helppay#ca   -90.79
104     hogback bbq and grill    littleton    co   -45.00
..                                           ...      ...
189     wal-mart super center    broomfield   co   -37.79
190     wholefds bdn #10 4451 maiwestminster  co   -56.92
191     www.genesiscouncil.com   www.genesiscony   -55.00
192  xcel energy-psco xcelenergy ***********5567 -1723.69
193     zap*zappos.com           800-927-7671 nv  -122.86

[94 rows x 2 columns]

## Credit Card Analysis

In [1084]:
cc_df = pd.read_csv("/content/cc_transactions_Jan-Aug_2023.csv")
cc_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15,Pending
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14,Pending
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42,Pending
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51,Pending
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34,Pending
...,...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32,Posted
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00,Posted
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20,Posted
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40,Posted
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38,Posted

In [1085]:
cc_df = refactor_cols(cc_df)
cc_df

,date,description,original_description,category,amount
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34
...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38

### Credit Card Category Breakdown

In [1086]:
cc_orig_desc_df = sum_col(cc_df, 'description')
cc_orig_desc_df[:50]

                            description   amount
0                  able kids foundation  -261.96
1                           afw e store  -988.45
2                                amazon -2597.53
3                          amazon kids+   -16.20
4                amazon.com amzn.com/bi  -107.34
5                          amc theatres   -64.54
6                          amznfreetime   -10.80
7                arvada pediatric assoc  -633.43
8                  atgpay greenway park  -655.83
9                              banfield  -268.82
10                banfield pet hospital  -449.25
11                   broomfield utility  -240.84
12                     buckles of estes  -114.05
13                         build-a-bear  -553.01
14                          burger king  -411.22
15                     butterfly pavili   -28.30
16              butterfly pavilion gift  -406.90
17             butterfly pavilion onlin  -307.50
18                           buybuybaby  -545.71
19                    centura automated  -413.98
20                  chco online mychart  -101.07
21                          chick-fil-a  -146.05
22                        christianbook  -148.35
23                             circle k   -67.41
24             city and county of broom  -876.46
25                     cityandcountyofb  -175.52
26                          cms vending   -36.40
27                 cobblestone car wash  -185.00
28  colorado division of motor vehicles  -195.06
29                               conoco   -34.99
30                          cu medicine  -200.43
31                          dollar tree   -20.42
32                                 etsy   -45.65
33            fleischmann family dentis  -102.40
34                      good times thru  -313.73
35                        grease monkey  -120.99
36                              hayleys   -85.15
37                         jimmy john's  -244.70
38                         king soopers -4366.34
39                   king soopers #5086  -153.14
40                              labcorp   -17.64
41                           mcdonald's   -13.08
42              med colorado eye center   -84.07
43             med nextcare urgent care  -240.00
44                             michaels   -70.65
45                       mocha angelo's    -3.00
46                 moosely tees & gifts  -197.74
47              ninja nation centennial   -17.50
48             only natural pet boulder   -41.34
49                             out tees  -197.67

In [1087]:
cc_cat_df = sum_col(cc_df, 'category')
cc_cat_df

               category    amount
0        alcohol & bars    -63.54
1      auto & transport   -195.06
2         baby supplies   -545.71
3                 books   -101.27
4      category pending   6524.46
5              clothing   -563.62
6          coffee shops    -32.10
7               dentist   -809.60
8                doctor  -4576.31
9         entertainment    -17.50
10              eyecare    -84.07
11            fast food  -2404.08
12        food & dining   -102.95
13          furnishings   -988.45
14                  gas   -583.72
15    gifts & donations  -1441.63
16            groceries  -4964.46
17                 hair   -363.30
18              hobbies   -202.12
19                hotel  -1180.84
20                 kids   -261.96
21      kids activities    -16.20
22        movies & dvds    -64.54
23                music    -10.80
24        personal care    -78.00
25  pet food & supplies   -534.58
26                 pets    -41.34
27          restaurants   -238.79
28      service & parts   -305.99
29             shipping    -22.96
30             shopping -13811.33
31           television   -230.53
32                 toys   -553.01
33             transfer  36818.76
34        uncategorized   -876.46
35            utilities   -416.36
36           veterinary   -718.07

### Credit Card Description Breakdown

In [1088]:
cc_desc_df = sum_col(cc_df, 'description')
cc_desc_df[:50]

                            description   amount
0                  able kids foundation  -261.96
1                           afw e store  -988.45
2                                amazon -2597.53
3                          amazon kids+   -16.20
4                amazon.com amzn.com/bi  -107.34
5                          amc theatres   -64.54
6                          amznfreetime   -10.80
7                arvada pediatric assoc  -633.43
8                  atgpay greenway park  -655.83
9                              banfield  -268.82
10                banfield pet hospital  -449.25
11                   broomfield utility  -240.84
12                     buckles of estes  -114.05
13                         build-a-bear  -553.01
14                          burger king  -411.22
15                     butterfly pavili   -28.30
16              butterfly pavilion gift  -406.90
17             butterfly pavilion onlin  -307.50
18                           buybuybaby  -545.71
19                    centura automated  -413.98
20                  chco online mychart  -101.07
21                          chick-fil-a  -146.05
22                        christianbook  -148.35
23                             circle k   -67.41
24             city and county of broom  -876.46
25                     cityandcountyofb  -175.52
26                          cms vending   -36.40
27                 cobblestone car wash  -185.00
28  colorado division of motor vehicles  -195.06
29                               conoco   -34.99
30                          cu medicine  -200.43
31                          dollar tree   -20.42
32                                 etsy   -45.65
33            fleischmann family dentis  -102.40
34                      good times thru  -313.73
35                        grease monkey  -120.99
36                              hayleys   -85.15
37                         jimmy john's  -244.70
38                         king soopers -4366.34
39                   king soopers #5086  -153.14
40                              labcorp   -17.64
41                           mcdonald's   -13.08
42              med colorado eye center   -84.07
43             med nextcare urgent care  -240.00
44                             michaels   -70.65
45                       mocha angelo's    -3.00
46                 moosely tees & gifts  -197.74
47              ninja nation centennial   -17.50
48             only natural pet boulder   -41.34
49                             out tees  -197.67

In [1089]:
cc_desc_df[50:]

                 description    amount
50             panda express    -14.47
51                party city   -223.48
52  pediatric speech therapy  -2358.00
53                  petsmart   -515.05
54               phillips 66   -327.23
55                 pizza hut   -510.81
56          pretty nails inc    -78.00
57               prime video   -230.53
58            raising cane's   -125.22
59      rocky mountain gifts    -54.31
60     rocky mountain majest     -4.35
61                scholastic   -101.27
62                schoolcafe   -102.95
63                     shipt   -290.77
64                shutterfly   -131.66
65           silver moon inn  -1180.84
66                  skechers    -54.16
67                     sonic    -29.12
68               souldogresc   -450.00
69    sprouts farmers market    -49.54
70               stampin' up   -131.47
71                 starbucks    -32.10
72                    subway   -156.19
73                 supercuts   -363.30
74                 taco bell   -312.20
75               taco john's    -20.50
76                    target  -6503.03
77                target.com    -97.15
78      the danish cone fact    -64.34
79                  uchealth   -611.76
80                       ups     -7.99
81         us postal service    -14.97
82          usaa credit card  36818.76
83  usaa credit card payment   7127.51
84         villa italian kit    -89.30
85                   walmart  -3675.65
86    walmart.com 8009666546   -245.42
87                   wendy's    -70.39
88              westminister    -19.53
89               whole foods   -408.90
90              wild spirits    -63.54
91    youngdentistryforchild   -707.20

### Credit Card Original Description Breakdown

In [1090]:
cc_orig_desc_df = sum_col(cc_df, 'original_description')
cc_orig_desc_df[:50]

                        original_description  amount
0   1594 villa italian kit   303-4691737  co  -89.30
1   able kids foundation     9702262253   co -261.96
2   afw - e-store #33        303-289-3311 co -988.45
3                     amazon.com amzn.com/bi -107.34
4   amazon.com amzn.com/bill amzn.com credit  122.20
5   amazon.com*2256p1sm3 amznamzn.com/billwa   -4.94
6   amazon.com*4k93x9283 amznamzn.com/billwa  -19.44
7   amazon.com*629uv7483 amznamzn.com/billwa  -13.45
8   amazon.com*9546d16c3     amzn.com/billwa  -60.92
9   amazon.com*at20t18s3 amznamzn.com/billwa  -25.11
10  amazon.com*h13ye69y3 amznamzn.com/billwa -122.20
11  amazon.com*h254499y3 amznamzn.com/billwa  -61.34
12  amazon.com*hf10b2mr0 amznamzn.com/billwa  -30.54
13  amazon.com*hf5o26cj1 amznamzn.com/billwa  -16.19
14  amazon.com*hg5fp3uh2     amzn.com/billwa  -19.86
15  amazon.com*hv0yx27x2 amznamzn.com/billwa  -14.13
16  amazon.com*hy1iw79z0     amzn.com/billwa  -97.32
17  amazon.com*hy28o8d70     amzn.com/billwa  -82.45
18  amazon.com*pf2ee6ms3     amzn.com/billwa  -17.35
19  amazon.com*zs71e9n03     amzn.com/billwa  -54.33
20  amc 0092 w.minster pro   westminster  co  -32.35
21  amc online 9640          888-440-4262 ks  -32.19
22  amzn mktp us amzn.com/bil amzn.co credit   68.61
23  amzn mktp us amzn.com/bill wa     credit   43.00
24  amzn mktp us*2d7ng7tc3   amzn.com/billwa  -29.07
25  amzn mktp us*493pp40g3   amzn.com/billwa   -6.85
26  amzn mktp us*5p8980ad3   amzn.com/billwa  -20.07
27  amzn mktp us*8g0yw7u33   amzn.com/billwa   -5.46
28  amzn mktp us*8i23p4uu3   amzn.com/billwa  -19.74
29  amzn mktp us*9y9a579d3   amzn.com/billwa   -7.75
30  amzn mktp us*c60nz65i3   amzn.com/billwa  -19.99
31  amzn mktp us*dc4ar8hw3   amzn.com/billwa  -80.15
32  amzn mktp us*df2022f93   amzn.com/billwa  -12.47
33  amzn mktp us*ee2sr1jq3   amzn.com/billwa   -9.99
34  amzn mktp us*gc2co8053   amzn.com/billwa  -25.42
35  amzn mktp us*hf0779gp0   amzn.com/billwa  -35.61
36  amzn mktp us*hf0lh9fh1   amzn.com/billwa -134.15
37  amzn mktp us*hf2qn8800   amzn.com/billwa   -7.53
38  amzn mktp us*hf32v0es0   amzn.com/billwa  -45.69
39  amzn mktp us*hg2n33pm1   amzn.com/billwa  -54.38
40  amzn mktp us*hg3cd3652   amzn.com/billwa   -7.23
41  amzn mktp us*hg9kg67y1   amzn.com/billwa  -78.71
42  amzn mktp us*hj34k3ts0   amzn.com/billwa   -9.14
43  amzn mktp us*hj40l90t1   amzn.com/billwa   -7.54
44  amzn mktp us*hj59l4mf1   amzn.com/billwa  -45.52
45  amzn mktp us*hs3xt7s20   amzn.com/billwa  -25.99
46  amzn mktp us*hs9xj4pn0   amzn.com/billwa  -23.78
47  amzn mktp us*hv7867wm2   amzn.com/billwa  -48.62
48  amzn mktp us*hy08z0iy2 amamzn.com/billwa  -18.71
49  amzn mktp us*hy0xb2q00   amzn.com/billwa  -66.21

In [1091]:
cc_orig_desc_df[50:100]

                        original_description  amount
50  amzn mktp us*hy2f33j31   amzn.com/billwa   -7.89
51  amzn mktp us*hy2rj9992   amzn.com/billwa  -14.81
52  amzn mktp us*hy5vo3nq0 amamzn.com/billwa  -18.98
53  amzn mktp us*hy78o5ix2   amzn.com/billwa  -43.87
54  amzn mktp us*i94m99hr3   amzn.com/billwa  -92.73
55  amzn mktp us*jt6p322z3 amamzn.com/billwa  -99.54
56  amzn mktp us*ka5vp93e3   amzn.com/billwa  -39.26
57  amzn mktp us*l79nw2r33   amzn.com/billwa  -54.33
58  amzn mktp us*lr7i054p3   amzn.com/billwa  -60.58
59  amzn mktp us*m81sk1z43   amzn.com/billwa  -56.42
60  amzn mktp us*nd6c17yw3   amzn.com/billwa  -62.78
61  amzn mktp us*rn2gs0d23   amzn.com/billwa -281.05
62  amzn mktp us*ta7l72ly1   amzn.com/billwa  -70.74
63  amzn mktp us*ta9zb5oi0   amzn.com/billwa  -11.33
64  amzn mktp us*tn6og49s3   amzn.com/billwa -119.23
65  amzn mktp us*uc3kw2hw3   amzn.com/billwa  -62.29
66  amzn mktp us*uv9du3tx3   amzn.com/billwa  -12.47
67  amzn mktp us*vb6r185k3 amamzn.com/billwa  -68.88
68  amzn mktp us*wj1um8fd3   amzn.com/billwa -168.82
69  amznfreetime*h704l2712   888-802-3080 wa   -5.40
70  amznfreetime*hm6qf63r0   888-802-3080 wa   -5.40
71  amznfreetime*qo5ai7ra3   888-802-3080 wa   -5.40
72  amznfreetime*t67235i91   888-802-3080 wa   -5.40
73  amznfreetime*y280597e3   888-802-3080 wa   -5.40
74  arvada pediatric assoc   303-421-6873 co -633.43
75  atgpay* greenway park    www.atgonlinepa -655.83
76  banfield  5101           westminster  co -268.82
77  banfield-pet*wppayment   360-784-5000 wa -449.25
78  broomfield utility       720-887-2200 co -240.84
79  buckles of estes         estes park   co -114.05
80  build-a-bear - 1031      broomfield   co -263.32
81  build-a-bear workshop    groveport    oh  -15.50
82  build-a-bear workshop    st louis     mo -274.19
83  burger king #4690  q07   longmont     co  -15.50
84  burger king #5256        broomfield   co -395.72
85  butterfly pavilion atms  westminster  co  -28.30
86  butterfly pavilion gift  westminster  co -406.90
87  butterfly pavilion onlin http://      co -307.50
88  buy buy baby #3138       westminster  co -545.71
89  centura automated pmt    centennial   co -413.98
90  chco online mychart pr   720-777-6815 co -101.07
91  chick-fil-a #02721       arvada       co  -36.32
92  chick-fil-a #04042       broomfield   co -109.73
93  chr*christianbook        800-247-4784 ma -148.35
94  chuck&dons westminister  westminster  co  -19.53
95  circle k # 41150         westminster  co  -67.41
96  city and county of broom 303-460-6900 co -981.46
97  city and county of broom broomfie credit  105.00
98  cityandcountyofb   mfield720-887-2200 co -175.52
99  cmsvend*cv denver        denver       co  -36.40