<a href="https://colab.research.google.com/github/Tyton25/tools/blob/main/Expenses_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [124]:
import pandas as pd
import numpy as np
import re

## Functions

In [259]:
def refactor_cols(my_df):
  columns = list(my_df.columns)
  columns = [c.lower() for c in columns]
  columns = [c.replace(' ', '_') for c in columns]
  my_df.columns = columns
  my_df.drop(columns='status', inplace=True)
  debit_df["date"] = pd.to_datetime(debit_df["date"])

  return my_df

In [580]:
def sum_orig_desc_col(raw_df):
  phone_pattern = r'\d{3}-\d{3}-\d{4}'
  url_patt = r'.*\.com'
  seven11_patt = r'7.*eleven'
  # my_df = raw_df[["original_description", "amount"]]
  my_df = raw_df.drop(columns=['date', 'description','category'])
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.lower())
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('*')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('#')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(phone_pattern, x)[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(url_patt, x)[0])
  my_df['original_description'] = my_df['original_description'].apply(lambda x: re.search(seven11_patt, x).group(0) if re.search(seven11_patt, x) else x)
  my_df['original_description'] = my_df['original_description'].apply(lambda x: re.search(r'doordash', x).group(0) if re.search(r'doordash', x) else x)
  my_df = my_df.groupby('original_description').agg('sum')
  my_df.sort_values(by=['original_description'], inplace=True)
  my_df.reset_index(inplace=True)

  return my_df

In [597]:
def sum_cat_col(raw_df):
  cat_df = raw_df.drop(columns=['date', 'original_description','description'])
  cat_df['category'] = cat_df['category'].map(lambda x: x.lower())
  cat_df = cat_df.groupby('category').agg("sum")
  cat_df.reset_index(inplace=True)

  return cat_df

In [602]:
def sum_desc_col(raw_df):
  url_patt = r'.*\.com'
  desc_df = raw_df.drop(columns=["date", "original_description", "category"])
  desc_df['description'] = desc_df['description'].map(lambda x: x.lower())
  desc_df['description'] = desc_df['description'].map(lambda x: re.split(url_patt, x)[0])
  desc_df = desc_df.groupby('description').agg('sum')
  desc_df.sort_values(by=['description'], inplace=True)
  desc_df.reset_index(inplace=True)

  return desc_df

## Debit Card Analysis

In [603]:
debit_df = pd.read_csv("/content/debit_transactions_Jan-Aug_2023.csv")
debit_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66,Pending
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78,Pending
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10,Pending
...,...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99,Posted
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99,Posted
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97,Posted
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32,Posted
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05,Posted

In [604]:
debit_df = refactor_cols(debit_df)
debit_df

,date,description,original_description,category,amount
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10
...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05

In [605]:
debit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631 entries, 0 to 630
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  631 non-null    datetime64[ns]
 1   description           631 non-null    object
 2   original_description  631 non-null    object
 3   category              631 non-null    object
 4   amount                631 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 24.8+ KB

In [606]:
debit_df["amount"].sum().round(2)

-6728.87

In [607]:
debit_df.category.unique()

array(['Category Pending', 'Fast Food', 'Utilities',
       'Electronics & Software', 'Service & Parts', 'Food & Dining',
       'Gas', 'Coffee Shops', 'Cash', 'Restaurants',
       'Newspapers & Magazines', 'Atm Fee', 'Interest Income',
       'Mortgage Payment', 'Hosting', 'Paycheck', 'Mobile Phone',
       'Movies & Dvds', 'Doctor', 'Music', 'Eyecare', 'Personal Care',
       'Auto & Transport', 'Television', 'Shopping', 'Entertainment',
       'Financial', 'Credit Card Payment', 'Sporting Goods',
       'Gifts & Donations', 'Health & Fitness', 'Education', 'Check',
       'Clothing', 'Business Services', 'Uncategorized', 'Bonus',
       'Home Improvement', 'Dentist', 'Transfer', 'Groceries', 'Books',
       'State Tax', 'Federal Tax', 'Laundry', 'Taxes', 'Parking', 'Gym'],
      dtype=object)

In [608]:
category_totals_df = sum_cat_col(debit_df)
category_totals_df

                  category    amount
0                  atm fee     20.95
1         auto & transport   -289.32
2                    bonus    998.70
3                    books   -147.55
4        business services    -47.00
5                     cash  -1230.95
6         category pending  -7226.75
7                    check  -3382.13
8                 clothing  -2559.32
9             coffee shops   -258.31
10     credit card payment -51146.35
11                 dentist   -164.50
12                  doctor   -123.44
13               education   -268.13
14  electronics & software   -338.38
15           entertainment  -2964.84
16                 eyecare  -1530.16
17               fast food  -1008.35
18             federal tax  -1605.00
19               financial  -2852.63
20           food & dining  -1771.66
21                     gas  -1368.58
22       gifts & donations  -1455.00
23               groceries   -369.66
24                     gym    -21.99
25        health & fitness   -406.51
26        home improvement    -94.10
27                 hosting     -8.39
28         interest income      0.83
29                 laundry     -6.00
30            mobile phone  -1120.64
31        mortgage payment  -6008.61
32           movies & dvds    -77.55
33                   music    -54.00
34  newspapers & magazines    -39.00
35                 parking     -8.00
36                paycheck  77755.09
37           personal care   -165.54
38             restaurants   -121.98
39         service & parts   -603.23
40                shopping  -2834.08
41          sporting goods  -1984.32
42               state tax  20563.00
43                   taxes   -192.72
44              television   -247.93
45                transfer  -7300.63
46           uncategorized    -99.00
47               utilities  -2565.21

In [609]:
debit_desc_totals_df = sum_desc_col(debit_df)
debit_desc_totals_df[:50]

                                description   amount
0                                            -620.88
1                                  7-eleven -1254.98
2                            aaa membership  -185.00
3                                     adobe   -30.79
4                       amazon web services    -8.39
5                              amc theatres   -39.39
6                                     apple -2341.72
7                                    arby's   -10.91
8                       arby's via doordash   -52.44
9                            atm fee rebate    20.95
10              bank of america credit card  -316.92
11                           barnes & noble   -80.96
12                barnes & noble membership   -25.00
13              baskin robbins via doordash   -29.63
14                            bible gateway   -41.59
15                              big o tires  -116.53
16                     blue fcu w 119th ave  -922.00
17                              burger king   -12.50
18             butter cloth httpsbutterclca  -299.97
19                   butterfly pavilion gif   -79.43
20                   calvary chapel of chin  -500.00
21                  canteen vending machine   -10.15
22                           caribou coffee   -50.54
23  caribou coffee co #1             081023    -4.66
24                      cash rewards credit   998.70
25                                   center   -60.00
26                              check #1520   -10.00
27                              check #1523  -365.00
28                              check #1524  -200.43
29                              check #1525  -114.27
30                              check #1526  -300.00
31                              check #1527 -1361.11
32                              check #1528  -580.00
33                              check #1529  -451.32
34                              chick-fil-a   -98.24
35                          childrescue.org  -500.00
36                                 chipotle   -13.34
37                 city and county of broom   -99.00
38                              cms vending  -167.10
39  cmsvend*cv denver                081023    -2.70
40                                coca cola   -14.45
41         cold stone creamery via doordash   -46.13
42                        colorado tinnitus  -262.96
43                                  comcast  -841.52
44                         consumer reports   -39.00
45                        csc service works    -6.00
46           daily grace co kristinschmucmd   -47.00
47                             dbamr cooper -7300.63
48                    dick's sporting goods  -275.09
49                        dollar shave club  -165.54

In [610]:
debit_desc_totals_df[50:100]

                                description    amount
50                                 doordash   -895.58
51                                     ebay   -171.85
52                            eurest dining   -279.77
53                              expresstoll    -75.60
54                                 fandango    -38.16
55                          fitness gallery    -94.90
56                       fleischmann family   -164.50
57                       foundation hyundai    -28.72
58                 four sea group i payroll  77755.09
59   front range family eye greenwood vilco  -1530.16
60                                      gnc    -48.65
61                          good times thru    -17.68
62                          gque broomfield    -72.90
63                                group inc    -10.00
64                    hogback bbq and grill    -45.00
65                        ihop via doordash   -226.18
66                            interest paid      0.83
67                          irs tax payment  -1605.00
68                jason's deli via doordash   -145.54
69                     jeremysrazors jeretn   -174.66
70                               jiffy lube   -166.78
71                             king soopers   -312.74
72      kneaders bakery & cafe via doordash    -66.01
73                             krispy kreme    -87.83
74  krispy kreme #4110               081023    -89.78
75                                 kum & go    -15.55
76                                  labcorp    -16.28
77                              laz parking     -8.00
78                                    lewis   -102.95
79                                  lithium    -76.14
80                    microsoft yearly plan    -72.89
81                    midjourney inc midjca    -30.00
82                      mike's camera store  -1899.44
83                               mr. cooper  -6008.61
84                        my patriot supply  -1141.45
85                                  netflix   -139.93
86                                 nintendo    -84.70
87                               nitro mall     -4.33
88           noodles & company via doordash   -195.73
89                                nordstrom  -1670.16
90                            panda express    -65.09
91               panda express via doordash    -60.66
92                                parchment    -37.95
93  pbc- denver co3834               081023     -2.10
94                                  pepsico   -101.25
95                                    prezi    -60.00
96                           rise httpsrise   -108.00
97                       road runner sports    -49.99
98                                   rokfin   -104.93
99                                 s & west    -31.52

In [611]:
debit_orig_desc_df = sum_orig_desc_col(debit_df)
debit_orig_desc_df[:50]

                        original_description    amount
0                                             -3005.68
1   203 take 5 car wash      broomfield   co   -319.92
2   224pepsiven9147678600    denver       co   -101.25
3                                   7-eleven   -170.00
4                                    7eleven    -80.00
5   aaa acg mbr 006/dues-ar  3037538800   co   -185.00
6                                    adobe      -20.80
7                  adobe                         -9.99
8   amazon web services      aws.amazon.cowa     -8.39
9   amc 0092 w.minster pro   westminster  co    -39.39
10  apple comone apple park wcupertino    ca     -0.99
11  arby's 5009033           broomfield   co    -10.91
12                                atm rebate     20.95
13                 b&n membership renewal       -25.00
14  barnesnoble 9370 sheridanwestminister co    -27.26
15  barnesnoble9370 sheridan westminister co    -53.70
16                 bible gateway                -41.59
17  big o tires 6292 6430 w 1broomfield   co   -116.53
18              bk of amer visa  online pmt    -316.92
19  blue fcu6850 w 119th ave broomfield   co   -922.00
20                              burger king     -12.50
21  butterfly pavilion gif625westminster  co    -79.43
22                 calvary chapel of chin      -500.00
23  canteen vending          malvern      pa    -10.15
24                        caribou coffee co     -55.20
25                       cash rewards credit    998.70
26                                    check   -3382.13
27                              chick-fil-a     -98.24
28  chipotle 0071            littleton    co    -13.34
29                 city and county of broom     -33.00
30  city and county of broom broomfield   co    -66.00
31                                   cmsvend   -169.80
32              co dept revenue  costtaxrfd   20563.00
33  coca cola denver co      denver       co     -1.85
34  coca cola johnstown co   johnstown    co    -12.60
35  colorado tinnitus and heaenglewood    co   -262.96
36  comcast cable comm       800-comcast  co   -841.52
37                 consumerreports.org          -39.00
38  csc servicework          broomfield   co     -4.00
39  csc servicework          littleton    co     -2.00
40  ctm group inc.           broomfield   co    -10.00
41  dick's clothing&sporting broomfield   co   -275.09
42  dollarshaveclubus        800-3727797  ca   -165.54
43                                  doordash  -1757.21
44  e 470 express tolls      303-5373470  co    -75.60
45                                    ebay o   -171.85
46  eurest@lm dc             littleton    co   -279.77
47  fitness gallery          denver       co    -94.90
48  fleischmann family dentisbroomfield   co   -164.50
49  foundation hyundai       denver       co    -28.72

In [612]:
debit_orig_desc_df[100:]

                         original_description    amount
100                 spotify                      -54.00
101                                       sq      -4.33
102  starbucks store 00252    greenwood vilco     -9.15
103  starbucks store 06508    estes park   co     -5.29
104  starbucks store 13426    erie         co     -6.29
105  starbucks store 47645    broomfield   co   -135.78
106  starbucks store 54769    broomfield   co    -51.26
107  subway 32315             broomfield   co    -34.12
108              synchrony bank   cc pymt       -605.78
109  target t-192810445 reed swestminster  co   -228.08
110  the friends of israel    856-8535590  nj   -200.00
111                           the home depot     -82.06
112  the home depot 1549      morrison     co    -12.04
113  the ore cart             estes park   co    -60.38
114                                   tmobile  -1120.64
115  trek bicycle broomfiel   broomfield   co   -567.78
116  trout haven pond         estes park   co   -270.51
117                                       tst    -76.98
118  turning point with david 877-9980222  ca   -200.00
119  udemy: online courses    httpswww.udemca    -31.18
120  united pac12624 w indore littleton    co   -146.53
121                  usaa credit card payment -57351.16
122              usaa p&c         autopay      -2405.48
123                 vasa fitness                 -21.99
124  vets4childrescue.org     www.vets4chilaz   -500.00
125                                       vmo    -84.00
126                                       vue   -199.00
127  wal-mart super center    broomfield   co    -37.79
128                             wholefds bdn     -56.92
129              xcel energy-psco xcelenergy   -1723.69
130                                       zap   -122.86

## Credit Card Analysis

In [613]:
cc_df = pd.read_csv("/content/cc_transactions_Jan-Aug_2023.csv")
cc_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15,Pending
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14,Pending
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42,Pending
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51,Pending
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34,Pending
...,...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32,Posted
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00,Posted
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20,Posted
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40,Posted
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38,Posted

In [614]:
cc_df = refactor_cols(cc_df)
cc_df

,date,description,original_description,category,amount
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34
...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38

In [615]:
cc_orig_desc_df = sum_orig_desc_col(cc_df)
cc_orig_desc_df[:50]

                        original_description   amount
0                                            -5189.44
1   1594 villa italian kit   303-4691737  co   -89.30
2   able kids foundation     9702262253   co  -261.96
3                             afw - e-store   -988.45
4   amc 0092 w.minster pro   westminster  co   -32.35
5                  amc online 9640             -32.19
6                               amzn mktp us -2191.77
7                               amznfreetime   -27.00
8                  arvada pediatric assoc     -633.43
9                                     atgpay  -655.83
10  banfield  5101           westminster  co  -268.82
11                              banfield-pet  -449.25
12                 broomfield utility         -240.84
13  buckles of estes         estes park   co  -114.05
14  build-a-bear - 1031      broomfield   co  -263.32
15  build-a-bear workshop    groveport    oh   -15.50
16  build-a-bear workshop    st louis     mo  -274.19
17                              burger king   -411.22
18  butterfly pavilion atms  westminster  co   -28.30
19  butterfly pavilion gift  westminster  co  -406.90
20  butterfly pavilion onlin http://      co  -307.50
21                             buy buy baby   -545.71
22  centura automated pmt    centennial   co  -413.98
23                 chco online mychart pr     -101.07
24                              chick-fil-a   -146.05
25                                       chr  -148.35
26  chuck&dons westminister  westminster  co   -19.53
27                                 circle k    -67.41
28                 city and county of broom   -981.46
29  city and county of broom broomfie credit   105.00
30                 cityandcountyofb   mfield  -175.52
31                                   cmsvend   -36.40
32  cobblestone car wash 72  602-7870808  co  -185.00
33  conoco - united pacific 6northglenn   co   -34.99
34  cu medicine rs           aurora       co  -200.43
35  dollar tree              westminster  co   -20.42
36  fleischmann family dentisbroomfield   co  -102.40
37  good times dr thru 111   broomfield   co  -303.13
38  good times dr thru 127   westminster  co   -10.60
39                            grease monkey   -120.99
40  jimmy johns - 4040       estes park   co   -37.44
41  jimmy johns 1697         broomfield   co  -148.03
42                 jimmy johns 1697 - ecom     -59.23
43                             king soopers  -4365.39
44  king soopers fuel 686    broomfield   co  -154.09
45                 labcorp8008456167           -17.64
46  mcdonald's f10128        estes park   co    -7.80
47  mcdonald's f22128        broomfield   co    -5.28
48                                       med  -324.07
49                                 michaels     -5.40

In [616]:
cc_cat_df = sum_cat_col(cc_df)
cc_cat_df

               category    amount
0        alcohol & bars    -63.54
1      auto & transport   -195.06
2         baby supplies   -545.71
3                 books   -101.27
4      category pending   6524.46
5              clothing   -563.62
6          coffee shops    -32.10
7               dentist   -809.60
8                doctor  -4576.31
9         entertainment    -17.50
10              eyecare    -84.07
11            fast food  -2404.08
12        food & dining   -102.95
13          furnishings   -988.45
14                  gas   -583.72
15    gifts & donations  -1441.63
16            groceries  -4964.46
17                 hair   -363.30
18              hobbies   -202.12
19                hotel  -1180.84
20                 kids   -261.96
21      kids activities    -16.20
22        movies & dvds    -64.54
23                music    -10.80
24        personal care    -78.00
25  pet food & supplies   -534.58
26                 pets    -41.34
27          restaurants   -238.79
28      service & parts   -305.99
29             shipping    -22.96
30             shopping -13811.33
31           television   -230.53
32                 toys   -553.01
33             transfer  36818.76
34        uncategorized   -876.46
35            utilities   -416.36
36           veterinary   -718.07

In [617]:
cc_desc_df = sum_desc_col(cc_df)
cc_desc_df[:50]

                            description   amount
0                                        -449.91
1                  able kids foundation  -261.96
2                           afw e store  -988.45
3                                amazon -2597.53
4                          amazon kids+   -16.20
5                          amc theatres   -64.54
6                          amznfreetime   -10.80
7                arvada pediatric assoc  -633.43
8                  atgpay greenway park  -655.83
9                              banfield  -268.82
10                banfield pet hospital  -449.25
11                   broomfield utility  -240.84
12                     buckles of estes  -114.05
13                         build-a-bear  -553.01
14                          burger king  -411.22
15                     butterfly pavili   -28.30
16              butterfly pavilion gift  -406.90
17             butterfly pavilion onlin  -307.50
18                           buybuybaby  -545.71
19                    centura automated  -413.98
20                  chco online mychart  -101.07
21                          chick-fil-a  -146.05
22                        christianbook  -148.35
23                             circle k   -67.41
24             city and county of broom  -876.46
25                     cityandcountyofb  -175.52
26                          cms vending   -36.40
27                 cobblestone car wash  -185.00
28  colorado division of motor vehicles  -195.06
29                               conoco   -34.99
30                          cu medicine  -200.43
31                          dollar tree   -20.42
32                                 etsy   -45.65
33            fleischmann family dentis  -102.40
34                      good times thru  -313.73
35                        grease monkey  -120.99
36                              hayleys   -85.15
37                         jimmy john's  -244.70
38                         king soopers -4366.34
39                   king soopers #5086  -153.14
40                              labcorp   -17.64
41                           mcdonald's   -13.08
42              med colorado eye center   -84.07
43             med nextcare urgent care  -240.00
44                             michaels   -70.65
45                       mocha angelo's    -3.00
46                 moosely tees & gifts  -197.74
47              ninja nation centennial   -17.50
48             only natural pet boulder   -41.34
49                             out tees  -197.67

In [618]:
cc_desc_df[50:]

                 description    amount
50             panda express    -14.47
51                party city   -223.48
52  pediatric speech therapy  -2358.00
53                  petsmart   -515.05
54               phillips 66   -327.23
55                 pizza hut   -510.81
56          pretty nails inc    -78.00
57               prime video   -230.53
58            raising cane's   -125.22
59      rocky mountain gifts    -54.31
60     rocky mountain majest     -4.35
61                scholastic   -101.27
62                schoolcafe   -102.95
63                     shipt   -290.77
64                shutterfly   -131.66
65           silver moon inn  -1180.84
66                  skechers    -54.16
67                     sonic    -29.12
68               souldogresc   -450.00
69    sprouts farmers market    -49.54
70               stampin' up   -131.47
71                 starbucks    -32.10
72                    subway   -156.19
73                 supercuts   -363.30
74                 taco bell   -312.20
75               taco john's    -20.50
76                    target  -6503.03
77      the danish cone fact    -64.34
78                  uchealth   -611.76
79                       ups     -7.99
80         us postal service    -14.97
81          usaa credit card  36818.76
82  usaa credit card payment   7127.51
83         villa italian kit    -89.30
84                   walmart  -3675.65
85                   wendy's    -70.39
86              westminister    -19.53
87               whole foods   -408.90
88              wild spirits    -63.54
89    youngdentistryforchild   -707.20

In [619]:
cc_desc_df = sum_orig_desc_col(cc_df)
cc_desc_df[:50]

                        original_description   amount
0                                            -5189.44
1   1594 villa italian kit   303-4691737  co   -89.30
2   able kids foundation     9702262253   co  -261.96
3                             afw - e-store   -988.45
4   amc 0092 w.minster pro   westminster  co   -32.35
5                  amc online 9640             -32.19
6                               amzn mktp us -2191.77
7                               amznfreetime   -27.00
8                  arvada pediatric assoc     -633.43
9                                     atgpay  -655.83
10  banfield  5101           westminster  co  -268.82
11                              banfield-pet  -449.25
12                 broomfield utility         -240.84
13  buckles of estes         estes park   co  -114.05
14  build-a-bear - 1031      broomfield   co  -263.32
15  build-a-bear workshop    groveport    oh   -15.50
16  build-a-bear workshop    st louis     mo  -274.19
17                              burger king   -411.22
18  butterfly pavilion atms  westminster  co   -28.30
19  butterfly pavilion gift  westminster  co  -406.90
20  butterfly pavilion onlin http://      co  -307.50
21                             buy buy baby   -545.71
22  centura automated pmt    centennial   co  -413.98
23                 chco online mychart pr     -101.07
24                              chick-fil-a   -146.05
25                                       chr  -148.35
26  chuck&dons westminister  westminster  co   -19.53
27                                 circle k    -67.41
28                 city and county of broom   -981.46
29  city and county of broom broomfie credit   105.00
30                 cityandcountyofb   mfield  -175.52
31                                   cmsvend   -36.40
32  cobblestone car wash 72  602-7870808  co  -185.00
33  conoco - united pacific 6northglenn   co   -34.99
34  cu medicine rs           aurora       co  -200.43
35  dollar tree              westminster  co   -20.42
36  fleischmann family dentisbroomfield   co  -102.40
37  good times dr thru 111   broomfield   co  -303.13
38  good times dr thru 127   westminster  co   -10.60
39                            grease monkey   -120.99
40  jimmy johns - 4040       estes park   co   -37.44
41  jimmy johns 1697         broomfield   co  -148.03
42                 jimmy johns 1697 - ecom     -59.23
43                             king soopers  -4365.39
44  king soopers fuel 686    broomfield   co  -154.09
45                 labcorp8008456167           -17.64
46  mcdonald's f10128        estes park   co    -7.80
47  mcdonald's f22128        broomfield   co    -5.28
48                                       med  -324.07
49                                 michaels     -5.40