<a href="https://colab.research.google.com/github/Tyton25/tools/blob/main/Expenses_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1010]:
import pandas as pd
import numpy as np
import re
import csv
from collections import OrderedDict

## Variable Declaration

In [1011]:
phone_pattern = r'\d{3}-\d{3}-\d{4}'
url_patt = r'.*\.com'
seven11_patt = r'7.*eleven'
target_patt = r'target'
taco_bell_patt = r'taco\sbell'

In [1012]:
pattern_list = []
with open("/content/bank_regexes.csv", 'r') as f:
  csv_reader = csv.reader(f)
  for line in csv_reader:
    pattern_list.append(f"r'{line[0]}'")

  for patt in pattern_list:
    print(patt)

r'ï»¿split'
r'\d{3}-\d{3}-\d{4}'
r'.*\.com'
r'\*+'
r'\#+'

## Functions

In [1013]:
def refactor_cols(my_df):
  columns = list(my_df.columns)
  columns = [c.lower() for c in columns]
  columns = [c.replace(' ', '_') for c in columns]
  my_df.columns = columns
  my_df.drop(columns='status', inplace=True)
  debit_df["date"] = pd.to_datetime(debit_df["date"])

  return my_df

In [1014]:
split_patterns = []
search_patterns = []

patterns_df = pd.read_csv("/content/bank_regexes.csv")
patterns_dict = patterns_df.to_dict()

for i in patterns_dict['split']:
  split_patterns.append(patterns_dict['split'][i])

for i in patterns_dict['search']:
  search_patterns.append(patterns_dict['search'][i])

In [1015]:
def sum_col(raw_df, my_col):
  drop_cols = [c for c in raw_df.columns if c not in ['amount', my_col]]

  my_df = raw_df.copy(deep=True)
  my_df.drop(columns=drop_cols, inplace=True)

  my_df[my_col] = my_df[my_col].map(lambda x: x.lower())

  for patt in split_patterns:
    my_df[my_col] = my_df[my_col].apply(lambda x: re.split(patt, x)[0])

  for patt in search_patterns:
    my_df[my_col] = my_df[my_col].apply(lambda x: re.search(patt, x).group(0) if re.search(patt, x) else x)

  my_df = my_df.groupby(my_col).agg('sum')
  my_df.sort_values(by=[my_col], inplace=True)
  my_df.reset_index(inplace=True)

  return my_df

In [1016]:
def orig_sum_orig_desc_col(raw_df):
  phone_pattern = r'\d{3}-\d{3}-\d{4}'
  url_patt = r'.*\.com'
  seven11_patt = r'7.*eleven'
  target_patt = r'target'
  taco_bell_patt = r'taco bell'

  my_df = raw_df.drop(columns=['date', 'description','category'])
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.lower())
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('*')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: x.split('#')[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(phone_pattern, x)[0])
  my_df['original_description'] = my_df['original_description'].map(lambda x: re.split(url_patt, x)[0])
  my_df['original_description'] = my_df['original_description'].apply(lambda x: re.search(seven11_patt, x).group(0) if re.search(seven11_patt, x) else x)
  my_df['original_description'] = my_df['original_description'].apply(lambda x: re.search(r'doordash', x).group(0) if re.search(r'doordash', x) else x)
  my_df = my_df.groupby('original_description').agg('sum')
  my_df.sort_values(by=['original_description'], inplace=True)
  my_df.reset_index(inplace=True)

  return my_df

In [1017]:
def sum_cat_col(raw_df):
  cat_df = raw_df.drop(columns=['date', 'original_description','description'])
  cat_df['category'] = cat_df['category'].map(lambda x: x.lower())
  cat_df = cat_df.groupby('category').agg("sum")
  cat_df.reset_index(inplace=True)

  return cat_df

In [1018]:
def sum_desc_col(raw_df):
  url_patt = r'.*\.com'
  desc_df = raw_df.drop(columns=["date", "original_description", "category"])
  desc_df['description'] = desc_df['description'].map(lambda x: x.lower())
  desc_df['description'] = desc_df['description'].map(lambda x: re.split(url_patt, x)[0])
  desc_df = desc_df.groupby('description').agg('sum')
  desc_df.sort_values(by=['description'], inplace=True)
  desc_df.reset_index(inplace=True)

  return desc_df

## Debit Card Analysis

In [1019]:
debit_df = pd.read_csv("/content/debit_transactions_Jan-Aug_2023.csv")
debit_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66,Pending
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78,Pending
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35,Pending
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10,Pending
...,...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99,Posted
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99,Posted
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97,Posted
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32,Posted
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05,Posted

In [1020]:
debit_df = refactor_cols(debit_df)
debit_df

,date,description,original_description,category,amount
0,2023-08-10,CARIBOU COFFEE CO #1 081023,CARIBOU COFFEE CO #1 081023,Category Pending,-4.66
1,2023-08-10,KRISPY KREME #4110 081023,KRISPY KREME #4110 081023,Category Pending,-89.78
2,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
3,2023-08-10,CMSVEND*CV DENVER 081023,CMSVEND*CV DENVER 081023,Category Pending,-1.35
4,2023-08-10,PBC- DENVER CO3834 081023,PBC- DENVER CO3834 081023,Category Pending,-2.10
...,...,...,...,...,...
626,2023-01-03,Vasa Fitness,VASA FITNESS 800-748-4949 UT,Gym,-21.99
627,2023-01-03,Rokfin,ROKFIN 512-3876531 TX,Entertainment,-14.99
628,2023-01-03,YouTube Premium,GOOGLE *YouTubePremium G.CO/HELPPAY#CA,Entertainment,-12.97
629,2023-01-03,7-Eleven,SEI 38135 BROOMFIELD CO,Gas,-7.32
630,2023-01-03,Amazon Web Services,Amazon web services AWS.AMAZON.COWA,Hosting,-1.05

In [1021]:
debit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631 entries, 0 to 630
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  631 non-null    datetime64[ns]
 1   description           631 non-null    object
 2   original_description  631 non-null    object
 3   category              631 non-null    object
 4   amount                631 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 24.8+ KB

In [1022]:
debit_df["amount"].sum().round(2)

-6728.87

In [1023]:
debit_df.category.unique()

array(['Category Pending', 'Fast Food', 'Utilities',
       'Electronics & Software', 'Service & Parts', 'Food & Dining',
       'Gas', 'Coffee Shops', 'Cash', 'Restaurants',
       'Newspapers & Magazines', 'Atm Fee', 'Interest Income',
       'Mortgage Payment', 'Hosting', 'Paycheck', 'Mobile Phone',
       'Movies & Dvds', 'Doctor', 'Music', 'Eyecare', 'Personal Care',
       'Auto & Transport', 'Television', 'Shopping', 'Entertainment',
       'Financial', 'Credit Card Payment', 'Sporting Goods',
       'Gifts & Donations', 'Health & Fitness', 'Education', 'Check',
       'Clothing', 'Business Services', 'Uncategorized', 'Bonus',
       'Home Improvement', 'Dentist', 'Transfer', 'Groceries', 'Books',
       'State Tax', 'Federal Tax', 'Laundry', 'Taxes', 'Parking', 'Gym'],
      dtype=object)

In [1024]:
category_totals_df = sum_col(debit_df, 'category')
category_totals_df

                  category    amount
0                  atm fee     20.95
1         auto & transport   -289.32
2                    bonus    998.70
3                    books   -147.55
4        business services    -47.00
5                     cash  -1230.95
6         category pending  -7226.75
7                    check  -3382.13
8                 clothing  -2559.32
9             coffee shops   -258.31
10     credit card payment -51146.35
11                 dentist   -164.50
12                  doctor   -123.44
13               education   -268.13
14  electronics & software   -338.38
15           entertainment  -2964.84
16                 eyecare  -1530.16
17               fast food  -1008.35
18             federal tax  -1605.00
19               financial  -2852.63
20           food & dining  -1771.66
21                     gas  -1368.58
22       gifts & donations  -1455.00
23               groceries   -369.66
24                     gym    -21.99
25        health & fitness   -406.51
26        home improvement    -94.10
27                 hosting     -8.39
28         interest income      0.83
29                 laundry     -6.00
30            mobile phone  -1120.64
31        mortgage payment  -6008.61
32           movies & dvds    -77.55
33                   music    -54.00
34  newspapers & magazines    -39.00
35                 parking     -8.00
36                paycheck  77755.09
37           personal care   -165.54
38             restaurants   -121.98
39         service & parts   -603.23
40                shopping  -2834.08
41          sporting goods  -1984.32
42               state tax  20563.00
43                   taxes   -192.72
44              television   -247.93
45                transfer  -7300.63
46           uncategorized    -99.00
47               utilities  -2565.21

In [1025]:
debit_desc_totals_df = sum_col(debit_df, 'description')
debit_desc_totals_df[:50]

                               description    amount
0                                            -620.88
1                                 7-eleven  -1254.98
2                           aaa membership   -185.00
3                                    adobe    -30.79
4                      amazon web services     -8.39
5                             amc theatres    -39.39
6                                    apple  -2341.72
7                                   arby's    -10.91
8                           atm fee rebate     20.95
9              bank of america credit card   -316.92
10                          barnes & noble    -80.96
11               barnes & noble membership    -25.00
12                           bible gateway    -41.59
13                             big o tires   -116.53
14                    blue fcu w 119th ave   -922.00
15                             burger king    -12.50
16            butter cloth httpsbutterclca   -299.97
17                  butterfly pavilion gif    -79.43
18                  calvary chapel of chin   -500.00
19                 canteen vending machine    -10.15
20                          caribou coffee    -50.54
21                      caribou coffee co      -4.66
22                     cash rewards credit    998.70
23                                  center    -60.00
24                                  check   -3382.13
25                             chick-fil-a    -98.24
26                         childrescue.org   -500.00
27                                chipotle    -13.34
28                city and county of broom    -99.00
29                             cms vending   -167.10
30                                 cmsvend     -2.70
31                               coca cola    -14.45
32                       colorado tinnitus   -262.96
33                                 comcast   -841.52
34                        consumer reports    -39.00
35                       csc service works     -6.00
36          daily grace co kristinschmucmd    -47.00
37                            dbamr cooper  -7300.63
38                   dick's sporting goods   -275.09
39                       dollar shave club   -165.54
40                                doordash  -1757.21
41                                    ebay   -171.85
42                           eurest dining   -279.77
43                             expresstoll    -75.60
44                                fandango    -38.16
45                         fitness gallery    -94.90
46                      fleischmann family   -164.50
47                      foundation hyundai    -28.72
48                four sea group i payroll  77755.09
49  front range family eye greenwood vilco  -1530.16

In [1026]:
debit_desc_totals_df[50:100]

                                description    amount
50                                      gnc    -48.65
51                          good times thru    -17.68
52                          gque broomfield    -72.90
53                                group inc    -10.00
54                    hogback bbq and grill    -45.00
55                            interest paid      0.83
56                          irs tax payment  -1605.00
57                     jeremysrazors jeretn   -174.66
58                               jiffy lube   -166.78
59                             king soopers   -312.74
60                             krispy kreme    -87.83
61                            krispy kreme     -89.78
62                                 kum & go    -15.55
63                                  labcorp    -16.28
64                              laz parking     -8.00
65                                    lewis   -102.95
66                                  lithium    -76.14
67                    microsoft yearly plan    -72.89
68                    midjourney inc midjca    -30.00
69                      mike's camera store  -1899.44
70                               mr. cooper  -6008.61
71                        my patriot supply  -1141.45
72                                  netflix   -139.93
73                                 nintendo    -84.70
74                               nitro mall     -4.33
75                                nordstrom  -1670.16
76                            panda express    -65.09
77                                parchment    -37.95
78  pbc- denver co3834               081023     -2.10
79                                  pepsico   -101.25
80                                    prezi    -60.00
81                           rise httpsrise   -108.00
82                       road runner sports    -49.99
83                                   rokfin   -104.93
84                                 s & west    -31.52
85                     service payment plan   -447.15
86                                    sonic   -110.37
87                  south denver cardiology   -107.16
88                                  spotify    -54.00
89                                starbucks   -207.77
90                        state of colorado  20563.00
91              store merch httpsgeneralffl    -54.49
92                                   subway    -34.12
93                    synchrony credit card   -605.78
94                                 t-mobile  -1120.64
95                            take car wash   -319.92
96                                   target   -228.08
97                         the french press     -4.08
98                    the friends of israel   -200.00
99                           the home depot    -94.10

In [1040]:
debit_orig_desc_df = sum_col(debit_df, 'original_description')
debit_orig_desc_df[:50]

                        original_description    amount
0                                             -3405.26
1   203 take 5 car wash      broomfield   co   -319.92
2   224pepsiven9147678600    denver       co   -101.25
3                                   7-eleven   -170.00
4                                    7eleven    -80.00
5   aaa acg mbr 006/dues-ar  3037538800   co   -185.00
6                                    adobe      -20.80
7                  adobe                         -9.99
8   amazon web services      aws.amazon.cowa     -8.39
9   amc 0092 w.minster pro   westminster  co    -39.39
10  apple comone apple park wcupertino    ca     -0.99
11  arby's 5009033           broomfield   co    -10.91
12                                atm rebate     20.95
13                 b&n membership renewal       -25.00
14  barnesnoble 9370 sheridanwestminister co    -27.26
15  barnesnoble9370 sheridan westminister co    -53.70
16                 bible gateway                -41.59
17  big o tires 6292 6430 w 1broomfield   co   -116.53
18              bk of amer visa  online pmt    -316.92
19  blue fcu6850 w 119th ave broomfield   co   -922.00
20                              burger king     -12.50
21  butterfly pavilion gif625westminster  co    -79.43
22                 calvary chapel of chin      -500.00
23  canteen vending          malvern      pa    -10.15
24                        caribou coffee co     -55.20
25                       cash rewards credit    998.70
26                                    check   -3382.13
27                              chick-fil-a     -98.24
28  chipotle 0071            littleton    co    -13.34
29                 city and county of broom     -33.00
30  city and county of broom broomfield   co    -66.00
31                                   cmsvend   -169.80
32              co dept revenue  costtaxrfd   20563.00
33  coca cola denver co      denver       co     -1.85
34  coca cola johnstown co   johnstown    co    -12.60
35  colorado tinnitus and heaenglewood    co   -262.96
36  comcast cable comm       800-comcast  co   -841.52
37                 consumerreports.org          -39.00
38  csc servicework          broomfield   co     -4.00
39  csc servicework          littleton    co     -2.00
40  ctm group inc.           broomfield   co    -10.00
41  dick's clothing&sporting broomfield   co   -275.09
42  dollarshaveclubus        800-3727797  ca   -165.54
43                                  doordash  -1757.21
44  e 470 express tolls      303-5373470  co    -75.60
45                                    ebay o   -171.85
46  eurest@lm dc             littleton    co   -279.77
47  fitness gallery          denver       co    -94.90
48  fleischmann family dentisbroomfield   co   -164.50
49  foundation hyundai       denver       co    -28.72

In [1041]:
debit_orig_desc_df[100:]

                         original_description    amount
100                                       sq      -4.33
101  starbucks store 00252    greenwood vilco     -9.15
102  starbucks store 06508    estes park   co     -5.29
103  starbucks store 13426    erie         co     -6.29
104  starbucks store 47645    broomfield   co   -135.78
105  starbucks store 54769    broomfield   co    -51.26
106  subway 32315             broomfield   co    -34.12
107              synchrony bank   cc pymt       -605.78
108                                    target   -228.08
109  the friends of israel    856-8535590  nj   -200.00
110                           the home depot     -82.06
111  the home depot 1549      morrison     co    -12.04
112  the ore cart             estes park   co    -60.38
113                                   tmobile  -1120.64
114  trek bicycle broomfiel   broomfield   co   -567.78
115  trout haven pond         estes park   co   -270.51
116                                       tst    -76.98
117  turning point with david 877-9980222  ca   -200.00
118  udemy: online courses    httpswww.udemca    -31.18
119  united pac12624 w indore littleton    co   -146.53
120                  usaa credit card payment -57351.16
121              usaa p&c         autopay      -2405.48
122                 vasa fitness                 -21.99
123  vets4childrescue.org     www.vets4chilaz   -500.00
124                                       vue   -199.00
125  wal-mart super center    broomfield   co    -37.79
126                             wholefds bdn     -56.92
127              xcel energy-psco xcelenergy   -1723.69

## Credit Card Analysis

In [1029]:
cc_df = pd.read_csv("/content/cc_transactions_Jan-Aug_2023.csv")
cc_df

,Date,Description,Original Description,Category,Amount,Status
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15,Pending
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14,Pending
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42,Pending
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51,Pending
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34,Pending
...,...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32,Posted
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00,Posted
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20,Posted
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40,Posted
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38,Posted

In [1030]:
cc_df = refactor_cols(cc_df)
cc_df

,date,description,original_description,category,amount
0,2023-08-11,TARGET.COM,TARGET.COM,Category Pending,-97.15
1,2023-08-11,KING SOOPERS #5086,KING SOOPERS #5086,Category Pending,-153.14
2,2023-08-11,WALMART.COM 8009666546,WALMART.COM 8009666546,Category Pending,-245.42
3,2023-08-11,USAA CREDIT CARD PAYMENT,USAA CREDIT CARD PAYMENT,Category Pending,7127.51
4,2023-08-08,AMAZON.COM AMZN.COM/BI,AMAZON.COM AMZN.COM/BI,Category Pending,-107.34
...,...,...,...,...,...
495,2023-03-13,PetSmart,PETSMART # 1458 WESTMINSTER CO,Pet Food & Supplies,-44.32
496,2023-03-13,USAA Credit Card,USAA CREDIT CARD PAYMENT SAN ANTONIO TX,Transfer,3000.00
497,2023-03-12,King Soopers,KING SOOPERS #5086 303-439-0113 CO,Groceries,-183.20
498,2023-03-12,Prime Video,Prime Video*HG9V41WS0 888-802-3080 WA,Television,-5.40
499,2023-03-12,Amazon,AMZN Mktp US*HG2N33PM1 Amzn.com/billWA,Shopping,-54.38

### Credit Card Category Breakdown

In [1042]:
cc_orig_desc_df = sum_col(cc_df, 'description')
cc_orig_desc_df[:50]

                            description   amount
0                                        -449.91
1                  able kids foundation  -261.96
2                           afw e store  -988.45
3                                amazon -2597.53
4                          amazon kids+   -16.20
5                          amc theatres   -64.54
6                          amznfreetime   -10.80
7                arvada pediatric assoc  -633.43
8                  atgpay greenway park  -655.83
9                              banfield  -268.82
10                banfield pet hospital  -449.25
11                   broomfield utility  -240.84
12                     buckles of estes  -114.05
13                         build-a-bear  -553.01
14                          burger king  -411.22
15                     butterfly pavili   -28.30
16              butterfly pavilion gift  -406.90
17             butterfly pavilion onlin  -307.50
18                           buybuybaby  -545.71
19                    centura automated  -413.98
20                  chco online mychart  -101.07
21                          chick-fil-a  -146.05
22                        christianbook  -148.35
23                             circle k   -67.41
24             city and county of broom  -876.46
25                     cityandcountyofb  -175.52
26                          cms vending   -36.40
27                 cobblestone car wash  -185.00
28  colorado division of motor vehicles  -195.06
29                               conoco   -34.99
30                          cu medicine  -200.43
31                          dollar tree   -20.42
32                                 etsy   -45.65
33            fleischmann family dentis  -102.40
34                      good times thru  -313.73
35                        grease monkey  -120.99
36                              hayleys   -85.15
37                         jimmy john's  -244.70
38                         king soopers -4366.34
39                        king soopers   -153.14
40                              labcorp   -17.64
41                           mcdonald's   -13.08
42              med colorado eye center   -84.07
43             med nextcare urgent care  -240.00
44                             michaels   -70.65
45                       mocha angelo's    -3.00
46                 moosely tees & gifts  -197.74
47              ninja nation centennial   -17.50
48             only natural pet boulder   -41.34
49                             out tees  -197.67

In [1043]:
cc_cat_df = sum_col(cc_df, 'category')
cc_cat_df

               category    amount
0        alcohol & bars    -63.54
1      auto & transport   -195.06
2         baby supplies   -545.71
3                 books   -101.27
4      category pending   6524.46
5              clothing   -563.62
6          coffee shops    -32.10
7               dentist   -809.60
8                doctor  -4576.31
9         entertainment    -17.50
10              eyecare    -84.07
11            fast food  -2404.08
12        food & dining   -102.95
13          furnishings   -988.45
14                  gas   -583.72
15    gifts & donations  -1441.63
16            groceries  -4964.46
17                 hair   -363.30
18              hobbies   -202.12
19                hotel  -1180.84
20                 kids   -261.96
21      kids activities    -16.20
22        movies & dvds    -64.54
23                music    -10.80
24        personal care    -78.00
25  pet food & supplies   -534.58
26                 pets    -41.34
27          restaurants   -238.79
28      service & parts   -305.99
29             shipping    -22.96
30             shopping -13811.33
31           television   -230.53
32                 toys   -553.01
33             transfer  36818.76
34        uncategorized   -876.46
35            utilities   -416.36
36           veterinary   -718.07

### Credit Card Description Breakdown

In [1045]:
cc_desc_df = sum_col(cc_df, 'description')
cc_desc_df[:50]

                            description   amount
0                                        -449.91
1                  able kids foundation  -261.96
2                           afw e store  -988.45
3                                amazon -2597.53
4                          amazon kids+   -16.20
5                          amc theatres   -64.54
6                          amznfreetime   -10.80
7                arvada pediatric assoc  -633.43
8                  atgpay greenway park  -655.83
9                              banfield  -268.82
10                banfield pet hospital  -449.25
11                   broomfield utility  -240.84
12                     buckles of estes  -114.05
13                         build-a-bear  -553.01
14                          burger king  -411.22
15                     butterfly pavili   -28.30
16              butterfly pavilion gift  -406.90
17             butterfly pavilion onlin  -307.50
18                           buybuybaby  -545.71
19                    centura automated  -413.98
20                  chco online mychart  -101.07
21                          chick-fil-a  -146.05
22                        christianbook  -148.35
23                             circle k   -67.41
24             city and county of broom  -876.46
25                     cityandcountyofb  -175.52
26                          cms vending   -36.40
27                 cobblestone car wash  -185.00
28  colorado division of motor vehicles  -195.06
29                               conoco   -34.99
30                          cu medicine  -200.43
31                          dollar tree   -20.42
32                                 etsy   -45.65
33            fleischmann family dentis  -102.40
34                      good times thru  -313.73
35                        grease monkey  -120.99
36                              hayleys   -85.15
37                         jimmy john's  -244.70
38                         king soopers -4366.34
39                        king soopers   -153.14
40                              labcorp   -17.64
41                           mcdonald's   -13.08
42              med colorado eye center   -84.07
43             med nextcare urgent care  -240.00
44                             michaels   -70.65
45                       mocha angelo's    -3.00
46                 moosely tees & gifts  -197.74
47              ninja nation centennial   -17.50
48             only natural pet boulder   -41.34
49                             out tees  -197.67

In [1046]:
cc_desc_df[50:]

                 description    amount
50             panda express    -14.47
51                party city   -223.48
52  pediatric speech therapy  -2358.00
53                  petsmart   -515.05
54               phillips 66   -327.23
55                 pizza hut   -510.81
56          pretty nails inc    -78.00
57               prime video   -230.53
58            raising cane's   -125.22
59      rocky mountain gifts    -54.31
60     rocky mountain majest     -4.35
61                scholastic   -101.27
62                schoolcafe   -102.95
63                     shipt   -290.77
64                shutterfly   -131.66
65           silver moon inn  -1180.84
66                  skechers    -54.16
67                     sonic    -29.12
68               souldogresc   -450.00
69    sprouts farmers market    -49.54
70               stampin' up   -131.47
71                 starbucks    -32.10
72                    subway   -156.19
73                 supercuts   -363.30
74                 taco bell   -312.20
75               taco john's    -20.50
76                    target  -6503.03
77      the danish cone fact    -64.34
78                  uchealth   -611.76
79                       ups     -7.99
80         us postal service    -14.97
81          usaa credit card  36818.76
82  usaa credit card payment   7127.51
83         villa italian kit    -89.30
84                   walmart  -3675.65
85                   wendy's    -70.39
86              westminister    -19.53
87               whole foods   -408.90
88              wild spirits    -63.54
89    youngdentistryforchild   -707.20

### Credit Card Original Description Breakdown

In [1047]:
cc_orig_desc_df = sum_col(cc_df, 'original_description')
cc_orig_desc_df[:50]

                        original_description   amount
0                                            -7671.98
1   1594 villa italian kit   303-4691737  co   -89.30
2   able kids foundation     9702262253   co  -261.96
3                             afw - e-store   -988.45
4   amc 0092 w.minster pro   westminster  co   -32.35
5                  amc online 9640             -32.19
6                               amznfreetime   -27.00
7                  arvada pediatric assoc     -633.43
8                                     atgpay  -655.83
9   banfield  5101           westminster  co  -268.82
10                              banfield-pet  -449.25
11                 broomfield utility         -240.84
12  buckles of estes         estes park   co  -114.05
13  build-a-bear - 1031      broomfield   co  -263.32
14  build-a-bear workshop    groveport    oh   -15.50
15  build-a-bear workshop    st louis     mo  -274.19
16                              burger king   -411.22
17  butterfly pavilion atms  westminster  co   -28.30
18  butterfly pavilion gift  westminster  co  -406.90
19  butterfly pavilion onlin http://      co  -307.50
20                             buy buy baby   -545.71
21  centura automated pmt    centennial   co  -413.98
22                 chco online mychart pr     -101.07
23                              chick-fil-a   -146.05
24                                       chr  -148.35
25  chuck&dons westminister  westminster  co   -19.53
26                                 circle k    -67.41
27                 city and county of broom   -981.46
28  city and county of broom broomfie credit   105.00
29                 cityandcountyofb   mfield  -175.52
30                                   cmsvend   -36.40
31  cobblestone car wash 72  602-7870808  co  -185.00
32  conoco - united pacific 6northglenn   co   -34.99
33  cu medicine rs           aurora       co  -200.43
34  dollar tree              westminster  co   -20.42
35  fleischmann family dentisbroomfield   co  -102.40
36  good times dr thru 111   broomfield   co  -303.13
37  good times dr thru 127   westminster  co   -10.60
38                            grease monkey   -120.99
39  jimmy johns - 4040       estes park   co   -37.44
40  jimmy johns 1697         broomfield   co  -148.03
41                 jimmy johns 1697 - ecom     -59.23
42                             king soopers  -4365.39
43  king soopers fuel 686    broomfield   co  -154.09
44                 labcorp8008456167           -17.64
45  mcdonald's f10128        estes park   co    -7.80
46  mcdonald's f22128        broomfield   co    -5.28
47                                       med  -324.07
48                                 michaels     -5.40
49  michaels stores 5049     westminster  co   -65.25

In [1048]:
cc_orig_desc_df[50:100]

                        original_description    amount
50  moosely tees & gifts     estes park   co   -197.74
51  ninja nation centennial  englewood    co    -17.50
52  only natural pet-boulder boulder      co    -41.34
53                            panda express     -14.47
54  party city 3201          westminster  co   -204.02
55  party city 890           longmont     co    -19.46
56                                   paypal    -450.00
57                 pediatric speech therapy   -2358.00
58                                 petsmart    -515.05
59  phillips 66 - sei 38135  broomfield   co   -327.23
60                 pizza hut 004869            -510.81
61  pretty nails inc         westminster  co    -78.00
62                               prime video    -16.20
63                              prime video    -203.53
64  raising canes 0359       broomfield   co   -125.22
65  rocky mountain gifts & tsestes park   co    -54.31
66  scholastic book fairs r4 lake mary    fl   -101.27
67  schoolcafe               866-4426030  tx   -102.95
68                 shutterfly, inc.            -131.66
69  silver moon inn          970-5866006  co   -380.29
70  silver moon inn          estes park   co   -800.55
71                             skechers-usa     -54.16
72                           sonic drive in     -29.12
73  sprouts farmers mar      westminster  co    -49.54
74                                       sq      -7.35
75                                starbucks     -32.10
76  subway 23066             broomfield   co    -68.89
77  subway 28717             broomfield   co    -60.99
78  subway 29417             estes park   co    -26.31
79                                       sui   -131.47
80  supercuts 81464          westminster  co   -363.30
81                                 taco bell   -312.20
82  taco johns 1031          fort collins co    -20.50
83                                    target  -2823.39
84                                       tst   -149.49
85  uchealth                 866-4296045  co   -511.76
86  uchealth                 thornton     co   -100.00
87                                       ups     -7.99
88                  usaa credit card payment   7127.51
89  usaa credit card payment san antonio  tx  36818.76
90  usps po 0710800147       broomfield   co    -14.97
91                                 wal-mart   -1140.83
92  wear me out tees         970-5862433  co   -197.67
93                                   wendys     -25.54
94  wendys  3888             broomfield   co     -6.49
95  wendys  8808             westminster  co    -38.36
96                             wholefds bdn    -408.90
97  wild spirits ltd         estes park   co    -63.54
98                           wm supercenter   -2132.20
99  youngdentistryforchild   www.youngdentco   -707.20